<%= render "trainings/shared/search_form" %>
<% content_for :title do %>
  Welcome to the Sprint Training Portal!
<% end %>
<p>This portal is designed to provide all of the training materials you need to effectively use our software, Sprint.</p>
<p>To get started, we recommend that you begin with the <a href="<%= training_path(id: 'on_boarding_guidelines')%>">on-boarding guidelines</a>. These will provide you with a comprehensive introduction to the basic features of the software. These will provide you with a comprehensive introduction on how to sign in to the application and complete the SMTP settings in addition to the basic features of the software.</p>
<p>The portal is organized into four sections: Sales, Logistics, Catalog, and Customer Portal. In addition, there is a miscellaneous section that contains various other resources.</p>
<p>In the Sales section, you will find training materials on how to use Sprint to manage your sales pipeline, create quotes and proposals, create orders, and track customer interactions.</p>
<p>In the Logistics section, you will find training materials on how to use Sprint to manage purchase orders, track orders, and delivery processes.</p>
<p>In the Catalog section, you will find training materials on how to use Sprint to manage product information, create and edit product listings, and configure catalogs on the customer portal.</p>
<p>In the Customer Portal section, you will find training materials on how to use Sprint to create and manage customer accounts, provide customer service, and manage customer communications. Customers can use this portal to create RFQs, send inquiries, send quotation revisions, place orders, and access reports.</p>
<p>In the Miscellaneous section, you will find various other resources such as frequently asked questions, best practices, and troubleshooting guides.</p>
<p>We hope that this portal will help you to become an expert in using Sprint. If you have any questions or comments, please do not hesitate to reach out to us on the helpdesk platform by filling out this <a href="https://forms.gle/wrH6XEekku8HVcsQ9" target="_blank">google form</a></p>
<p>Happy Learning!</p>