<%= provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<div class="col-lg-12">
  <%= render partial: "shared/layouts/payment_dashboard_summary_box", locals: {} %>
</div>
<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all desktop" >Alias</th>
  <th class="no-sort all desktop" >Name</th>
  <th class="no-sort desktop text-right">Amt Invoiced</th>
  <th class="no-sort desktop text-right">Amt Received by Invoice</th>
  <th class="no-sort desktop text-right">Amt Received On Account</th>
  <th class="no-sort desktop text-right">Amt Received</th>
  <th class="no-sort desktop text-right">Overdue Amt</th>
  <th class="no-sort desktop text-right"> 01 - 30 Days </th>
  <th class="no-sort desktop text-right"> 31 - 60 Days </th>
  <th class="no-sort desktop text-right"> 61 - 90 Days </th>
  <th class="no-sort desktop text-right"> > 90 Days </th>
  <th class="no-sort desktop text-right"> > Amt Not Due </th>
  <th class="no-sort desktop text-right"> 01 - 07 Days </th>
  <th class="no-sort desktop text-right"> 08 - 15 Days </th>
  <th class="no-sort desktop text-right"> 15 - 30 Days </th>
  <th class="no-sort desktop text-right"> > 30 Days </th>
<% end %>


<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>