<div class="media chat-item">
  <div class="media-body">
    <div class="chat-item-title">
      <span class="chat-item-author"><%= comment.created_by.full_name %>
        <span class="mr-1"><strong><span class="badge badge-secondary"><%= comment.author_role %></span></strong></span>
      </span>
      <span><% time_ago_in_words(comment.created_at) %> ago</span>
    </div>
    <div class="chat-item-body">
      <p>
        <% if trimmed && comment.message.length > 48 %>
          <%= comment.message[0..48] + ".." %>
        <% else %>
          <%= comment.message %>
        <% end %>
      </p>
    </div>
  </div>
</div>