<div class="page-header">
  <h2><%= action_name.capitalize %> <%= e.class.name %></h2>
  <p>This will <em>'<%= submit_text(e).downcase %>'</em> and log it under <strong><%= current_overseer.full_name %></strong>.</p>
</div>