<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
      <h2 class="heading-section">Frequently Asked Questions</h2>
      </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-md-12">
    <div id="accordion" class="myaccordion w-100">
    <div class="card">
    <div class="card-header p-0" id="headingOne">
    <button class="px-4 py-3 align-items-center justify-content-between btn faq btn-link collapsed">
    <div class="heading d-flex align-items-center">
      <h4 class="panel-title mb-0" data-toggle="collapse" data-target="#collapseOne">How to turn-on 2-step verification on your Gmail Account?</h4>
    </div>
    </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body p-4 pt-md-3">
      <ul>
        <li>
          <h5>Please follow the video tutorial to turn on 2-step verification on your Gmail account.</h5>
        </li>
        <div class="embed-responsive embed-responsive-16by9 video-guide">
          <iframe src="https://drive.google.com/file/d/1ZxihmiMM6kMGZG2TxUDYF1F9wWnjGMfb/preview" width="640" height="480" allow="autoplay"></iframe>
        </div>
      <ul>  
    </div>
    </div>
    </div>
    <div class="card">
    <div class="card-header p-0" id="headingTwo">
    <button class="px-4 py-3 align-items-center justify-content-between btn faq btn-link collapsed">
    <div class="heading d-flex align-items-center">
      <h4 class="panel-title mb-0" data-toggle="collapse" data-target="#collapseTwo">Why am I unable to send acknowledgment emails, sales quotes, proforma invoices, and supplier purchase orders from the system? Why am I getting an error while sending emails from the system?</h4>
    </div>
    </button>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
    <div class="card-body p-4 pt-md-3">
      <ul>
        <li>
          <h5>This type of error occurs when your SMTP (Simple Mail Transfer Protocol) settings are not completed. The SMTP stores and forwards emails from one email server to another using a Mail Transfer Agent. Hence in order to send these emails we need to setup and update the SMTP in Sprint.</h5>
        </li>
        <li>
          <h5>Before completing the SMTP settings, you need to turn on 2-step verification on your Gmail account. To understand how to turn on 2-step verification, please click here. (Link to the question)</h5>
        </li>
        <li>
          <h5>Please follow the instructions given in the video tutorial to complete the SMTP settings.</h5>
        </li>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://drive.google.com/file/d/1720kBX92QsvZNJKAL4Bis3nLzdERwbsJ/preview" width="640" height="480" allow="autoplay"></iframe>
        </div>
      <ul>
    </div>
    </div>
    </div>
    <div class="card">
      <div class="card-header p-0" id="headingThree">
        <button class="px-4 py-3 align-items-center justify-content-between btn faq btn-link collapsed">
          <div class="heading d-flex align-items-center">
            <h4 class="panel-title mb-0" data-toggle="collapse" data-target="#collapseThree">Why my product is not synced with SAP? And how do I sync it?</h4>
          </div>
        </button>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body p-4 pt-md-3">
        <h5>In two of the following cases, the product / service is not synced with SAP:</h5>
          <ul>
            <li>
              <h5>The HSN code / SAC Code is not correct or is not in the required format. All the sales product requires <strong>8 digit HSN Code</strong> and all the service products requires <strong>6-digit SAC code, as given in the e-invoicing pre-requisites.  Hence enter a correct code to sync the products with SAP. To confirm if you are entering a correct HSN/SAC Code, please <a href="https://docs.google.com/spreadsheets/d/12QhYMCv6pGSkapajsLl8GVqiqqGDaAGrl37FcTsHlXU/edit#gid=0">click here</a></strong>.
              </h5>
            </li>
            <li>
              <h5>The second reason is that, the total character length of the given product description is more than standard. If the character length is more than 180 characters, please cut-short your description to sync the product with SAP.</h5>
            </li>
            <li>
              <h5>Please connect with the catalog team to make corrections.</h5>
            </li>
          <ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header p-0" id="headingFour">
        <button class="px-4 py-3 align-items-center justify-content-between btn faq btn-link collapsed">
          <div class="heading d-flex align-items-center">
            <h4 class="panel-title mb-0" data-toggle="collapse" data-target="#collapseFour">Why am I having trouble while creating a new company/supplier in Sprint?</h4>
          </div>
        </button>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body p-4 pt-md-3">
        <h5>This error occurs due to the following reasons:</h5>
          <ul>
            <li>
              <h5>The company you are trying to register, already exists in the system : </h5>
            </li>
            <h5>
            In this case, please re-check if it already exists in the database. To confirm that, Click on Menu and then click on B.Partners. Go to Companies and in the search bar, type the 4-5 characters of the company name.</h5>
            <h5>If you still do not find the company in the database, please raise a ticket on <a href="https://forms.gle/s7Ktc5KLLFntFf476">IT-Helpdesk</a>  and enter the company details in the description. Our representative will help you to share the company profile link.</h5>
            <li>
              <h5>The compulsory text fields are not filled due to which you will get error while saving the form.</h5>
            </li>
          <ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header p-0" id="headingFive">
        <button class="px-4 py-3 align-items-center justify-content-between btn faq btn-link collapsed">
          <div class="heading d-flex align-items-center">
            <h4 class="panel-title mb-0" data-toggle="collapse" data-target="#collapseFive">Why a Business partner (client/supplier) address is not synced with SAP even though the company is synced?</h4>
          </div>
        </button>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body p-4 pt-md-3">
            <ul>
              <li>
                <h5>If the address is missing a pin code, a city name and / or a state name, the address will not be synced with SAP. Hence kindly enter the correct details while creating a new address. </h5>
              </li>
              <li>
                <h5>If the listed PAN number is mismatched with given GST number, then address will not be synced with SAP.  In the example given below, the PAN Number is listed as NOPAN12345.</h5>
                <%= image_tag 'faq-company-sqp-sync-pan.png' %>
              </li>
              <li>
                <h5>However, the address GST number as added as <strong>“24ABLPR1000P1ZM”</strong></h5>
                <%= image_tag 'faq-company-sqp-sync-address.png' %>
              </li>
              <h5>In this case, company address will not be synced.</h5>
            <ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header p-0" id="headingSix">
        <button class="px-4 py-3 align-items-center justify-content-between btn faq btn-link collapsed">
          <div class="heading d-flex align-items-center">
            <h4 class="panel-title mb-0" data-toggle="collapse" data-target="#collapseSix">How to avoid frequent sync issues with the supplier PO? </h4>
          </div>
        </button>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body p-4 pt-md-3">
          <ul>
            <li>
              <h5>Confirm the billing and shipping address of the supplier. Confirm the pin codes for the same.</h5>
            </li>
            <li>
              <h5>The BMRO Billing address cannot be changed once the PO is approved, hence kindly confirm it before creating a PO request. You will have to create a new PO in this case</h5>
            </li>
            <li>
              <h5>Confirm the HSN / SAC Codes for each line item while generating a PO. Kindly refer to the link given below to find the correct HSN Codes.  To find the correct HSN / SAC Code <a href="https://docs.google.com/spreadsheets/d/12QhYMCv6pGSkapajsLl8GVqiqqGDaAGrl37FcTsHlXU/edit#gid=0">click here.</a></h5>
            </li>
            <li>
              <h5>SAC Code for freight is 996511 or 996512. Kindly enter it correctly otherwise the freight charges will not show correctly.</h5>
            </li>
            <li>
              <h5>At the time of PO amendment, please check the delivery dates of each line item. In case the dates are old, the changes you make may not get reflected in your PO.</h5>
            </li>
          <ul>
        </div>
      </div>
    </div>
    </div>
    </div>
   </div>
  </div>
</section>