<%= simple_form_for(:company_report, :url => company_report_overseers_companies_path, :method => :get, :html => {:class => 'col-12 needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
  <div class="card mt-3">
    <div class="card-body">
      <div class="form-row">
        <div class="col-6">
          <%= f.input :date_range, as: :string, input_html: {:'data-toggle' => 'daterangepicker', :placeholder => 'Date Range', :value => (@date_range.present? ? @date_range : '')}, required: false, label: 'Pick a Date Range' %>
        </div>
        <div class="col-3 text-center">
          <%= button_tag(type: "submit", class: "btn btn-success btn-block mt-3") do %>
            <i class="fal fa-hand-point-down mr-2"></i>Fetch Report
          <% end %>
        </div>
        <div class="col-3 text-center">
          <a href="<%= company_report_overseers_companies_path %>" class="btn btn-outline-success btn-block mb-2 mb-md-0 mt-3">
            <i class="fal fa-redo mr-2"></i> Reset Report</a>
        </div>
      </div>
    </div>
  </div>
<% end %>