<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :can_be_directly_downloaded, true %>

<% content_for :heading do %>Company Report<% end %>
<% provide :hide_table_desc, true %>
<% content_for :page_title do %>
  Reports
<% end %>
<%#= render layout: 'search_layout' do %>
<%# end %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all" data-name="company_key"> Company Name</th>
  <th class="no-sort all" data-name="account_id"> Company Alias</th>
  <th class="no-sort all text-right">Live Inquiries</th>
  <th class="no-sort all text-right">Live Quotation</th>
  <th class="no-sort all text-right">Value of Quotations</th>
  <th class="no-sort all text-right">Live Expected Orders</th>
  <th class="no-sort all text-right">Value of Expected Orders</th>
  <th class="no-sort all text-right">Orders</th>
  <th class="no-sort all text-right">Value of Orders</th>
  <th class="no-sort all text-right">Order Margin</th>
  <th class="no-sort all text-right">%Margin</th>
  <th class="no-sort all text-right">Invoices</th>
  <th class="no-sort all text-right">Amount Invoiced(Excl. Taxes)</th>
  <th class="no-sort all text-right">Invoice Margin(Excl. Taxes)</th>
  <th class="no-sort all text-right" data-name="cancelled_invoiced">Cancelled Invoices</th>
  <th class="no-sort all text-right">Value of Cancelled Invoices</th>
  <th class="no-sort all text-right">Uniq SKUs</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="ajax"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>