<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :can_be_directly_downloaded, true %>

<% content_for :heading do %>Company Report<% end %>
<% content_for :page_title do %>
  Reports
<% end %>
<% content_for :table_desc do %>
  Company Report <%= "for range " + @date_range.gsub("~","to") if @date_range.present?%> searchable with relevant term/keywords.
<% end %>
<% content_for :controller_is_aliased, false %>

<%= render layout: 'search_layout' do %>
<% end %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all"> Company Name</th>
  <th class="no-sort all"> Company Alias</th>
  <th class="no-sort all text-left" data-name="live_inquiries">Live Inquiries #</th>
  <th class="no-sort all text-left" data-name="sales_quotes">Live Quotation #</th>
  <th class="no-sort all text-left" data-name="sales_quotes_total">Value of Quotations</th>
  <th class="no-sort all text-left" data-name="expected_orders">Live Expected <br>Orders #</th>
  <th class="no-sort all text-left" data-name="expected_orders_total">Value of<br> Expected Orders</th>
  <th class="no-sort all text-left" data-name="sales_orders">Orders #</th>
  <th class="no-sort all text-left" data-name="sales_orders_total">Value of Orders</th>
  <th class="no-sort all text-left" data-name="sales_orders_margin">Order Margin</th>
  <th class="no-sort all text-left" data-name="sales_orders_margin_percentage">%Margin</th>
  <th class="no-sort all text-left" data-name="sales_invoices">Invoices #</th>
  <th class="no-sort all text-left" data-name="sales_invoices_total">Amount Invoiced<br> (Excl. Taxes)</th>
  <th class="no-sort all text-left" data-name="sales_quotes_margin_percentage">Invoice Margin<br> (Excl. Taxes)</th>
  <th class="no-sort all text-left" data-name="cancelled_invoiced">Cancelled Invoices #</th>
  <th class="no-sort all text-left" data-name="cancelled_invoiced_total">Value of<br> Cancelled Invoices</th>
  <th class="no-sort all text-left" data-name="sku">Uniq SKUs #</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="ajax"></td>
  <td data-filter="ajax"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>


<% content_for :summary_row do %>
  <td class="text-left no-data" ></td>
  <td class="text-left total"></td>
  <td class="text-left no-data"></td>
  <td class="text-left no-data"></td>
  <td class="text-left"></td>
  <td class="text-left"></td>
  <td class="text-left no-data"></td>
  <td class="text-left"></td>
  <td class="text-left no-data"></td>
  <td class="text-left"></td>
  <td class="text-left"></td>
  <td class="text-left no-data"></td>
  <td class="text-left no-data"></td>
  <td class="text-left"></td>
  <td class="text-left no-data"></td>
  <td class="text-left no-data"></td>
  <td class="text-left"></td>
  <td class="text-left"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>