<%= provide :container_fluid, true %>
<% provide :can_be_directly_exported, true %>
<% provide :can_be_ajaxed, true %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all" data-name="name">Name</th>
  <th class="sort desktop" data-name="addresses">Addresses</th>
  <th class="sort desktop" data-name="contacts">Contacts</th>
  <th class="sort desktop" data-name="inquiries">Inquiries</th>
  <th class="no-sort">PAN</th>
  <th class="no-sort" data-name="is_pan_valid">Valid PAN</th>
  <th class="no-sort desktop" data-name="is_supplier">Is Supplier</th>
  <th class="no-sort desktop" data-name="is_customer">Is Customer</th>
  <th class="no-sort desktop">SAP Status</th>
  <th class="desktop" data-name="created_at">Created</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>