<% provide :can_be_ajaxed, true %>

<% content_for :header_row do %>
  <th>Created</th>
  <th>Name</th>
  <th>Industry</th>
  <th>Contacts</th>
  <th>Actions</th>
<% end %>

<div class="col-lg-11">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>
