//
// Color system
//

$white: #fff;
$gray-100: #F7F9FA;
$gray-200: #EEF2F5;
$gray-300: #E9EEF2;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: ();
$grays: map-merge((
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
), $grays);

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$colors: ();
$colors: map-merge((
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
        "white": $white,
        "gray": $gray-600,
        "gray-dark": $gray-800
), $colors);

$primary: $orange;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: ();
$theme-colors: map-merge((
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
), $theme-colors);

$color-light-blue: #a4c2f4;
$color-dark-blue: #6d9eeb;
$color-light-yellow: lighten($yellow, 10%);
$color-yellow: $yellow;
$color-red: #ea9999;
$color-light-green: #b6d7a8;
$color-green: #93c47d;
$color-dark-green: #6aa84f;
$color-orange: #f9cb9c;
$color-grey: #b7b7b7;

$custom-colors: ();
$custom-colors: map-merge((
        "color-light-blue": $color-light-blue,
        "color-dark-blue": $color-dark-blue,
        "color-yellow": $color-yellow,
        "color-light-yellow": $color-light-yellow,
        "color-red": $color-red,
        "color-light-green": $color-light-green,
        "color-green": $color-green,
        "color-dark-green": $color-dark-green,
        "color-orange": $color-orange,
        "color-grey": $color-grey
), $custom-colors);
