<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :can_be_directly_created, true %>


<div class="col-lg-12 bmro-table-layout">
<% content_for :header_row do %>
  <th class="no-sort all" width="98px">Quick Actions</th>
  <th class="no-sort desktop text-left" width="30px">Task ID</th>
  <th class="no-sort desktop text-right" width="40px">Subject</th>
  <th class="no-sort text-left" width="60px" data-name="status_key">Status</th>
  <th class="no-sort text-left" width="60px"data-name="priority_key">Priority</th>
  <th class="no-sort text-left" width="50px">Description</th>
  <th class="no-sort desktop text-right" width="140px"data-name="company_id">Company</th>
  <th class="no-sort text-left" width="50px" data-name="department_key">Department</th>
  <th class="no-sort text-left" width="70px">Assignees</th>
  <th class="no-sort text-left" width="60px">Created By</th>
  <th class="no-sort text-left" width="60px">Due Date</th>
  <th class="no-sort text-left" width="60px">Created at</th>
  <th class="no-sort text-left" width="60px">Updated at</th>



  <% end %>


<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="ajax"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>


<% end %>

  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>

