<div class="col-lg-12">

  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        Review Question Show
      </h3>
      <% if policy(@review_question).show? %>
        <a href="<%= edit_overseers_review_question_path(@review_question) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit</a>
      <% end %>
    </div>

    <ul class="list-group text-primary mb-3">
      <% if ReviewQuestion.overall_weightage('Sales').to_i != 100 %>
        <li class="list-group-item">
          <i class="fal fa-exclamation-triangle mr-2"></i>Overall weightage of Sales Type Questions is not 100. Please adjust weightage.
        </li>
      <% end %>
      <% if ReviewQuestion.overall_weightage('Logistics').to_i != 100 %>
        <li class="list-group-item">
          <i class="fal fa-exclamation-triangle mr-2"></i>Overall weightage of Logistics Type Questions is not 100. Please adjust weightage.
        </li>
      <% end %>
    </ul>

  </section>

  <section class="mb-3">
    <div class="card mb-2">
      <div class="card-body">
        <h6 class="text-uppercase text-black-50 mb-1">Details</h6>
        <div class="form-row">
          <div class="col-12 col-md-12 mb-2">
            <strong class="d-block">Question</strong>
            <%= @review_question.question %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Weightage</strong>
            <%= @review_question.weightage %>
          </div>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Question Type</strong>
            <%= @review_question.question_type %>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>