@import url('https://rsms.me/inter/inter.css');

.bmro-label-sup{
    color: #FF8800 !important;
}
.form-control-label abbr{
    color: #FF8800 !important;
}
.bmro-nav-ul{
    width: 100%;
    float: left;
    top: 48px!important;
}
.bmro-nav-ul li{
    text-align: center;
    padding: 0px 0px !important; 
    border: 1px solid transparent !important;
    border-radius: 5px 5px 0 0 !important;
    background-color: transparent !important;
    margin: 0px !important;
    color: #8C97A3 !important;
    font-family: 'Inter', sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
    letter-spacing: -0.55px;
    line-height: 16px;
    display: inline-block;
    border-bottom: 0px !important;
}
.bmro-nav-ul .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    background-color: #FFFFFF!important;
    color: #2C4159!important; 
    padding: 11px 0px;
    font-size: 14px !important;
    font-weight: 600 !important;
}
.bmro-nav-ul .nav-link{
    padding: 11px 0px;
    color: #8C97A3 !important;   
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset; 
}
.bmro-mp-0{
    margin-top: 0px!important; 
}
.bmro-mp-0 .mt-3{
    margin-top: 0px!important;
}
.bmro-container{
    max-width: 1160px!important;
}
.bmro-bradecrumb-edit{
    float: left!important;
    color: #2C4159!important;
    font-family: 'Inter', sans-serif;
    font-size: 21px!important;
    font-weight: 600!important;
    letter-spacing: -0.82px;
    line-height: 25px!important;
    width: 100%;
    margin-bottom: 22px!important;
}
.bmro-bradecrumb-edit span{
    margin-left: 5px;
}
.bmro-edit-dash{
    margin-right: 8px;
    margin-left: 0px!important;
}
.bmro-card-body{
    width: 850px;
    float: left;
    padding-top: 55px;
    padding-left: 100px;
    box-sizing: border-box;  
}
.bmro-card-header{
    width: 250px;
    float: left;
    background: #fff;
    border: none;
    padding: 51px 0px 0px 0px;
    position: sticky;
    top: 117px;
    z-index: 99;
}
.bmro-card{
    width: 100%;
    float: left;
    background-color: #fff;
    display: unset!important;
    flex-direction: unset!important;
    border-radius: 0px !important;
}
.bmro-card-footer{
    width: 100%;
    float: left; 
    background-color: #fff!important;
    border-radius: 0px !important;
}
.bmro-form-row{
    width: 100%;
    float: left;
}
.bmro-button-tras{
    background-color: #fff!important;
    color: #495057!important;
}
.bmro-button{
    padding: 8px 10px!important;
    border: 2px solid #2C4159!important;
    border-radius: 2px!important;
    background-color: #2C4159;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 13px!important;
    font-weight: 600!important;
    letter-spacing: -0.51px;
    line-height: 16px!important;
    outline: none!important;
    text-transform: capitalize!important;
    box-shadow: none!important;
}
.bmro-button:hover{
    background-color: #385372!important;
    color: #FFFFFF!important;
}
.bmro-button-imp{
    background-color: #2C4159!important;
    color: #FFFFFF!important;   
}
.bmro-button-mr{
    margin-right: 10px;
}
.bmro-form-heading {    
    color: #2C4159;
    font-family: 'Inter', sans-serif;
    font-size: 19px!important;
    font-weight: 600;
    letter-spacing: -0.71px;
    line-height: 21px;
    margin-bottom: 19px!important;
    width: 100%;
}
.bmro-input-label{
    color: #687686;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.47px;
    line-height: 15px;
    float: left;
    width: 100%;
}
.bmro-page-header{
    width: 100%;
    float: left;
    padding: 0px;
    margin-bottom: 0px;
}
.bmro-nav-main{
    padding: 0px!important;
    background: transparent;
    min-height: 29px;
    float: left;
    width: 100%;
    margin-top: 46px;
}
.bmro-width-fl{
    width: 100%;
    float: left;
}
.bmro-breadcrumb-item .breadcrumb-item{
    color: #f78200!important;
}
.bmro-breadcrumb-item .breadcrumb-item+.breadcrumb-item:before{
    color: #f78200;
    font-size: 23px;
    bottom: 8px;
}
.breadcrumb-item+.breadcrumb-item:last-child {
    font-weight: 400!important;
}
.bmro-dotted-line{
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px dashed #C3CAD2;
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
}
ul.bmro-label-ul{
    border: none;
    list-style: none;
    color: #000;
    background: none;
    float: left;
    padding-left: 0px;
    padding-top: 40px;
}
li.bmro-li-right{
    margin-bottom: 15px;
    border-left: 4px solid #ff8800;
    padding: 0px 7px;
    cursor: pointer;
}
.bmro-active-li{
  border-left:4px solid transparent !important;
  padding:5px 10px;
}
.bmro-list-button{
    opacity: 0.56;
    color: #2C4159;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.47px;
    line-height: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
}
.bmro-li-right .bmro-list-button{
    opacity: unset;
    font-weight: bold; 
    cursor: pointer;     
} 
.bmro-li-right.bmro-active-li:hover {
    opacity: unset!important;
}
.bmro-li-right.bmro-active-li{
    opacity: 0.56!important;
}
.bmro-form-input {
    line-height: 1.5!important;
    color: rgb(73, 80, 87)!important;
    padding: 7px 23px 6px 8px!important;
    font-family: 'Inter', sans-serif;
    border-width: 2px!important;
    border-style: solid!important;
    border-color: rgb(236, 238, 242)!important;
    /* border-image: initial; */
    border-radius: 2px!important;
    outline: none!important;
    height: auto!important;
    box-shadow: unset!important;
    font-weight: 600;
}
.bmro-dropdown-icon {
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAAXNSR0IArs4c6QAAAQBJREFUKBVjYEADuo5RxmhCDMzIAjrO0cUM//+vEVPW//Lq/uXjMDm4IrCCf/96wBL//7shKwQrQlLwn5GBYRFQoT7QRHeYQmYdp+gMhv//JgEl/jMwMKVc2b+sXkxR/zGQ6wdWqKT/komNlXEPUAFQEKRg6TyQdRCaKQUkDpVnYDD2TeMCSaIDmDgTugQ2PrORe4zKr+8/TgPd8fHVg8vnYYp0HKOT/v76uUZG3WAz06/f/12AErIMDP/mgCRAiiD0vzkgcZA80MdAQVAgQsIIHARAb8YBhRkZmJhKruxd2gsOJ1DogsIE5GWgpAGyAiAbES1ICt1gJoAUYAXYIhgA2hV2DdpvkwcAAAAASUVORK5CYII=')no-repeat right 0.60rem top 9px;
    background-size: 10px 16px;
    -webkit-appearance: none !important;
    appearance: none !important;
}
.bmro-form-input-img{

}
.bmro-form-input:focus{
    border-color: #687686;
}
.bmro-form-input-height{
    min-height: 90px;
}
.bmro-form-input-text{
    min-height: 176px;
    padding: 28px 27px 23px!important;
}
.select2-selection__clear{
    display: none!important;
}
.select2-selection__arrow{
    display: none!important;
}
.select2-container.bmro-form-input-height .select2-selection--single .select2-selection__rendered{
    white-space:unset;
}
.justify-content-center{
    width: 100%;
}
.custom-file label.custom-file-label {
/*    line-height: 1.65;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    float: left;
    padding: 6px 8px 4px;
    color: #2C4159;
    height: 58px;
    opacity: unset;*/

    line-height: 1.65;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    padding: 9px 8px 4px;
    color: #2C4159;
    height: 38px;
    opacity: unset;
    position: absolute;
    top: -5px;  
    border-color: rgba(33, 37, 41, 0.5)!important;
    border-width: 0px;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(2.25rem - -1px)!important;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 9px 17px;
    line-height: 1.5;
    color: #fff;
    content: "Browse";
    background-color: #2C4159;
    border: 1px solid #2C4159!important;
    border-radius: 2px;
}
.bmro-product-btn-parent{
    position: absolute;
    bottom: 24px;
    background-color: #fff!important;
    border: 2px solid #ECEEF2;
    width: fit-content;
    right: 0px;
    float: left;
    margin: 0 auto;
    left: 0;
}
.bmro-product-btn {
    color: #2C4159;
    font-family: 'Inter', sans-serif; 
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.47px;
    line-height: 15px;
    text-transform: capitalize;
    border-radius: unset;
    float: left;
    border: none;
    outline: none!important;
    box-shadow: none;
    background-color: #Fff;
    padding: 17px 21px;
}
.bmro-product-btn:focus{
    box-shadow: unset!important;
    border-radius: unset;
}
.bmro-product-btn:hover{
    background-color: #F0F2F6;
    border-radius: unset;
    color: #2C4159;
}
.bmro-fl{
    float: left;
}
.bmro-date-label{
    width: 100%;
    float: left;
    color: #687686 !important;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 600 !important;
    letter-spacing: -0.47px;
    line-height: 15px;
    margin: 0px !important;
}
.bmro-date-line{
    width: 100%;
    color: #2C4159;
    font-size: 12px !important;
    font-family: 'Inter', sans-serif;
    font-weight: 600 !important;
    letter-spacing: -0.71px;
    line-height: 21px;
    margin: 0px !important;
    width: 100%;
}
.bmro-card-body label{
    margin-bottom: 8px;
    color: #687686!important;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600!important;
    letter-spacing: -0.47px;
    line-height: 15px;
    margin-bottom: 8px;
}
.bmro-card-body label abbr{
    color: #FF8800!important;
    text-decoration: none;
}
.bmro-product-bottom{
    width:100%;
    float:left;
    padding-left: 100px;
    padding-right: 100px;
}
.bmro-inventory-color{
   color: #687686!important;  
}
.inquiry_inquiry_products_sr_no{
    margin-bottom: 0;
}
.inquiry_inquiry_products_sr_no input{
    border: none;
    box-shadow: none;
    font-family: 'Inter', sans-serif;
    color: #2C4159;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.55px;
}
.bmro-product-height-input{
    height: 59px!important;
}
.bmro-product-icon-right{
    border-left: 2px solid #ECEEF2;
    position: relative;
    left: 56px;
    float: left;
    padding-left: 24px;
}
.bmro-product-icon-right .form-group a{
    color: #2C4159 !important;
}
.bmro-inventory-color{
    float: left;
    display: flex;
    align-items: center;
}
.bmro-card-body .custom-file-label { margin-top:0!important; }
.bmro-button-parent{
    margin-right: 10px;
}
.bmro-button-parent button{
    padding: 8px 10px !important;
    border: 2px solid #2C4159 !important;
    border-radius: 2px !important;
    background-color: #2C4159;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif; 
    font-size: 13px !important;
    font-weight: 600 !important;
    letter-spacing: -0.51px;
    line-height: 16px !important;
    outline: none !important;
    text-transform: capitalize !important; 
    box-shadow: none !important;   
}
.bmro-button-parent button:hover{
    background-color: #385372 !important;
    color: #FFFFFF !important;
}
.bmro-date-important .mar-left{
    margin-left: 90px !important;
}
.bmro-date-important{
    float: right;
}
.bmro-date-important .form-group{
    font-size: 10px;
    color: #667668;
}
table.dataTable th{
    color: #687686;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.18px;
    line-height: 15px;
}
table.dataTable td{
    color: #2C4159;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.47px;
    line-height: 15px;
    text-align: right;    
}
.bmro-product-bottom label{
    color: #687686!important;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600!important;
    letter-spacing: -.47px;
    line-height: 15px;
    margin-bottom: 8px;
    margin-top: 17px;
}
.bmro-input-padding{
    padding:4px 4px 30px 4px!important;
}
.bmro-icon-used-view{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAnJJREFUSA1jXLJ6m+c/BsZ5////k2CgAWBkZHrBxPA/iQVkiZK8lISMhBgNrGFgePLilcS9h8/msYB8ArKEn4+HJhaBDL374IkEE81MRzN41CK0ACGeS7egYyHWTUdOXWTYuPMgw827Dxl+/PzFIC8tweBqZ84Q6OnAwMpK2BiCKr5++87QN3MZw65DJxk0lOUZ/N3tGdjYWBmu3brHMGXBaobt+48y1BelMijISuF1M96ge/fhE0NycSvDyfPXGGoLkxnSYgIZrgItOAr0nYG2GsOMjnKGf//+M6SUtDKcvnCNPIu+ff/BUNw0geHX718M09pLGSTFhIH8iQzfvv1gEBURZJi6YA3DibNXGaZ3VDBoqSoxVHdOBwcrLttw+qhv1jKGp89fM/TVFzDIAeNj695jDDKSYkBLyxmaS9MZgoBxs3nPIQYuTg6GzpocBhkpMYba7pkMIAdiAzgt+g6McBD48+cfNn0oYkxMTAxMjDiNAqvFKVuZHQcNrn6GOw+eMng7WzE8ef6KIauyE+zyddsPMPi62DF8//GToaJtCsOjpy/APgX5EBvAaREPNxdDb30hAwcHB0NuTTfDoycvGXrr8hm4uDgYXr95z5CdEMJgaarLkFXVyXD5+h2G1vJMBnVgqsQF8CZvESF+hnm9NQy9M5cydExdyKCqJMtgZazHwM7OxnDh6i1wglCWl2KY01NNMHnjtQjkOm4uToa6whQGJ2tTcIbdtOsQPMPmJIRSL8PCgsLGTJ8BhMkFOOOIXANx6Ru1CFfIEBSnW9CxgNpdoCYRQSeRqQBoNgPIDhZQ4w7U7gI1icg0C682WAMSAKz4083vKtFoAAAAAElFTkSuQmCC');
}
.bmro-icon-pencil{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAlBJREFUSA1jXLJ6m+c/BsZ5////k2CgAWBkZHrBxPA/iQVkiZK8lISMhBgNrGFgePLilcS9h8/msYB8ArKEn4+HJhaBDL374IkEE81MRzN41CK0ACGeS1bQzVqynsE9Ko8ht6aH4d2HT0TZRrJFvTOXMew9eoahtz6fgYOdjSGvppcoy0iyqGf6UoYNOw4wSEuIMqgryTO0VWQxSIgJEWUZ0RZ1T1/CsP/4WYaeunyGF6/eMtR0TmdgZGRkaK/MZhATEWCo752FNwiJsqhz2mKGA8fPMUxsLGIwN9Rm8HO1ZTh29jJDNdQyTydrhlt3H+G1iAWvLFCyd8ZShoNASyY1FTGoKMowbN9/nGHm0vUMRemRDKs27WMobOxnuH3vMUOItzNeo/Ba9OfvX4Yte44wCPDzMHBwsDHsAFrSNW0RQ11hCoOjlTGDsIAA2FfBXo4MqdH+5Fv04PELBpBlKgqyDBnlXQxfv39jqC2AWHLt9n2GtskLGII8HRgKUiPxWgKSxBtHdx88BqYqYYb2qmwGPS0VBl5uLgZ1ZVmG60BLihsnMLjZWTAUpkURtASkAG/Q3Xn4BOgbGQYWZmaGptI0YEqbAc6k33/8ZHCxNQfHE1G2ELLo7v3HDN9//GJonTSf4c79RwygoGRkYmTwd7NlyE8hHFzIjsDro/cfPzEICvADMR9DZKAHOK7kZSQYmJnwhjiy+XA2Xovm99fDFVLKIN1pZNo4ahGZAQfMR6B2F6hJRLYJBDQCzQaW8kwvWECNO1C7C9QkIqCHLGlYAxIAu7/BnuYNCckAAAAASUVORK5CYII=')

}
.bmro-icon-table{
    border: none;
    padding: 6px 13px;
    background-repeat: no-repeat;     
} 
.bmro-icon-parent{
    background-color: unset;
    border-color: unset;
    box-shadow: unset;  
}
li.select2-results__option{
    color: #2C4159;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.18px;
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #E7E9ED;
    color: #2C4159;
}
.bmro-datatable-style tbody tr td a{
    background-color: unset;
    border-color: unset;
    padding: 5px 2px;
    box-shadow: unset;
    border:none;   
}
.bmro-datatable-style tbody tr td a:hover{
    outline: unset;
    background-color: unset!important;
    border: none; 
}

.width-30{
    width: 30%;
}
.bmro-datatable-style tbody tr{
    border-color: #E0E2E7;
    border-radius: unset;
}
.bmro-datatable-style tbody tr:nth-child(even){
    background-color: #fff;   
}
.bmro-datatable-style tbody tr:nth-child(odd){
    background-color: #F1F3F6;
}   
.bmro-datatable-style tbody tr:hover{
    background-color: #D4D8DF;
}
table.bmro-datatable-style{
    border-spacing:0px!important;
}