.bmro-label-sup{
    color: #FF8800 !important;
}
.form-control-label abbr{
    color: #FF8800 !important;
}
.bmro-nav-ul{
    width: 100%;
    float: left;
    top: 48px!important;
}
.bmro-nav-ul li{
    text-align: center;
    padding: 0px 0px !important; 
    border: 1px solid transparent !important;
    border-radius: 5px 5px 0 0 !important;
    background-color: transparent !important;
    margin: 0px !important;
    color: #8C97A3 !important;
    /*font-family: "Inter UI" !important;*/
    font-size: 14px !important;
    font-weight: 600 !important;
    letter-spacing: -0.55px;
    line-height: 16px;
    display: inline-block;
    border-bottom: 0px !important;
}
.bmro-nav-ul .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    background-color: #FFFFFF!important;
    color: #2C4159!important; 
    padding: 11px 0px;
    font-size: 14px !important;
    font-weight: bold !important;
}
.bmro-nav-ul .nav-link{
    padding: 11px 0px;
    color: #8C97A3 !important;   
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset; 
}
.bmro-mp-0{
    margin-top: 0px!important; 
}
.bmro-mp-0 .mt-3{
    margin-top: 0px!important;
}
.bmro-container{
    max-width: 1160px!important;
}
.bmro-bradecrumb-edit{
    float: left!important;
    color: #2C4159!important;
    /*font-family: "Inter UI";*/
    font-size: 21px!important;
    font-weight: bold!important;
    letter-spacing: -0.82px;
    line-height: 25px!important;
    width: 100%;
    margin-bottom: 22px!important;
}
.bmro-bradecrumb-edit span{
    margin-left: 5px;
}
.bmro-edit-dash{
    margin-right: 8px;
    margin-left: 0px!important;
}
.bmro-card-body{
    width: 850px;
    float: left;
    padding-top: 55px;
    padding-left: 100px;
    box-sizing: border-box;  
}
.bmro-card-header{
    width: 250px;
    float: left;
    background: #fff;
    border: none;
    padding: 51px 0px 0px 0px;
    position: sticky;
    top: 117px;
    z-index: 99;
}
.bmro-card{
    width: 100%;
    float: left;
    background-color: #fff;
    display: unset!important;
    flex-direction: unset!important;
    border-radius: 0px !important;
}
.bmro-card-footer{
    width: 100%;
    float: left; 
    background-color: #fff!important;
    border-radius: 0px !important;
}
.bmro-form-row{
    width: 100%;
    float: left;
}
.bmro-button-tras{
    background-color: #fff!important;
    color: #495057!important;
}
.bmro-button{
    padding: 8px 10px!important;
    border: 2px solid #2C4159!important;
    border-radius: 2px!important;
    background-color: #2C4159;
    color: #FFFFFF;
    /*font-family: "Inter UI";*/
    font-size: 13px!important;
    font-weight: bold!important;
    letter-spacing: -0.51px;
    line-height: 16px!important;
    outline: none!important;
    text-transform: capitalize!important;
    box-shadow: none!important;
}
.bmro-button:hover{
    background-color: #385372!important;
    color: #FFFFFF!important;
}
.bmro-button-imp{
    background-color: #2C4159!important;
    color: #FFFFFF!important;   
}
.bmro-button-mr{
    margin-right: 10px;
}
.bmro-form-heading {    
    color: #2C4159;
    /* font-family: "Inter UI"; */
    font-size: 19px!important;
    font-weight: bold;
    letter-spacing: -0.71px;
    line-height: 21px;
    margin-bottom: 19px!important;
    width: 100%;
}
.bmro-input-label{
    color: #687686;
    /*font-family: "Inter UI";*/
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.47px;
    line-height: 15px;
    float: left;
    width: 100%;
}
.bmro-page-header{
    width: 100%;
    float: left;
    padding: 0px;
    margin-bottom: 0px;
}
.bmro-nav-main{
    padding: 0px!important;
    background: transparent;
    min-height: 29px;
    float: left;
    width: 100%;
    margin-top: 46px;
}
.bmro-width-fl{
    width: 100%;
    float: left;
}
.bmro-breadcrumb-item .breadcrumb-item{
    color: #f78200!important;
}
.bmro-breadcrumb-item .breadcrumb-item+.breadcrumb-item:before{
    color: #f78200;
    font-size: 23px;
    bottom: 8px;
}
.breadcrumb-item+.breadcrumb-item:last-child {
    font-weight: 500!important;
}
.bmro-dotted-line{
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px dashed #C3CAD2;
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
}
ul.bmro-label-ul{
    border: none;
    list-style: none;
    color: #000;
    background: none;
    float: left;
    padding-left: 0px;
    padding-top: 40px;
}
li.bmro-li-right{
    margin-bottom: 15px;
    border-left: 4px solid #ff8800;
    padding: 0px 7px;
    cursor: pointer;
}
.bmro-active-li{
  border-left:4px solid transparent !important;
  padding:5px 10px;
}
.bmro-list-button{
    opacity: 0.56;
    color: #2C4159;
    /*font-family: "Inter UI";*/
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.47px;
    line-height: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
}
.bmro-li-right .bmro-list-button{
    opacity: unset;
    font-weight: bold; 
    cursor: pointer;     
} 
.bmro-li-right.bmro-active-li:hover {
    opacity: unset!important;
}
.bmro-li-right.bmro-active-li{
    opacity: 0.56!important;
}
.bmro-form-input {
    line-height: 1.5!important;
    color: rgb(73, 80, 87)!important;
    padding: 7px 23px 6px 8px!important;
    border-width: 2px!important;
    border-style: solid!important;
    border-color: rgb(236, 238, 242)!important;
    /* border-image: initial; */
    border-radius: 2px!important;
    outline: none!important;
    height: auto!important;
    box-shadow: unset!important;
    font-weight: bold;
}
.bmro-dropdown-icon {
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAAXNSR0IArs4c6QAAAQBJREFUKBVjYEADuo5RxmhCDMzIAjrO0cUM//+vEVPW//Lq/uXjMDm4IrCCf/96wBL//7shKwQrQlLwn5GBYRFQoT7QRHeYQmYdp+gMhv//JgEl/jMwMKVc2b+sXkxR/zGQ6wdWqKT/komNlXEPUAFQEKRg6TyQdRCaKQUkDpVnYDD2TeMCSaIDmDgTugQ2PrORe4zKr+8/TgPd8fHVg8vnYYp0HKOT/v76uUZG3WAz06/f/12AErIMDP/mgCRAiiD0vzkgcZA80MdAQVAgQsIIHARAb8YBhRkZmJhKruxd2gsOJ1DogsIE5GWgpAGyAiAbES1ICt1gJoAUYAXYIhgA2hV2DdpvkwcAAAAASUVORK5CYII=')no-repeat right 0.60rem top 9px;
    background-size: 10px 16px;
    -webkit-appearance: none !important;
    appearance: none !important;
}
.bmro-form-input-img{

}
.bmro-form-input:focus{
    border-color: #687686;
}
.bmro-form-input-height{
    min-height: 90px;
}
.bmro-form-input-text{
    min-height: 176px;
    padding: 28px 27px 23px!important;
}
.select2-selection__clear{
    display: none!important;
}
.select2-selection__arrow{
    display: none!important;
}
.select2-container.bmro-form-input-height .select2-selection--single .select2-selection__rendered{
    white-space:unset;
}
.justify-content-center{
    width: 100%;
}
.custom-file label.custom-file-label {
    line-height: 1.65;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    float: left;
    padding: 6px 8px 4px;
    color: #2C4159;
    height: 58px;
    /*border: 2px solid rgb(236, 238, 242)!important!important;*/
    opacity: unset;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: auto;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 17px;
    line-height: 1.5;
    color: #fff;
    content: "Browse";
    background-color: #2C4159;
    border: 1px solid #2C4159!important;
    border-radius: 2px;
}
.bmro-product-btn-parent{
    position: absolute;
    bottom: 24px;
    background-color: #fff!important;
    border: 2px solid #ECEEF2;
    width: fit-content;
    right: 0px;
    float: left;
    margin: 0 auto;
    left: 0;
}
.bmro-product-btn {
    color: #2C4159;
    /* font-family: "Inter UI"; */
    font-size: 12px;
    font-weight: 800;
    letter-spacing: -0.47px;
    line-height: 15px;
    text-transform: capitalize;
    border-radius: unset;
    float: left;
    border: none;
    outline: none!important;
    box-shadow: none;
    background-color: #Fff;
    padding: 17px 21px;
}
.bmro-product-btn:focus{
    box-shadow: unset!important;
    border-radius: unset;
}
.bmro-product-btn:hover{
    background-color: #F0F2F6;
    border-radius: unset;
    color: #2C4159;
}
.bmro-fl{
    float: left;
}
.bmro-date-label{
    width: 100%;
    float: left;
    color: #687686 !important;
    font-size: 10px;
    font-weight: bold !important;
    letter-spacing: -0.47px;
    line-height: 15px;
    margin: 0px !important;
}
.bmro-date-line{
    width: 100%;
    color: #2C4159;
    font-size: 12px !important;
    font-weight: bold !important;
    letter-spacing: -0.71px;
    line-height: 21px;
    margin: 0px !important;
    width: 100%;
}
.bmro-card-body label{
    margin-bottom: 8px;
    color: #687686!important;
    font-size: 12px;
    font-weight: bold!important;
    letter-spacing: -0.47px;
    line-height: 15px;
    margin-bottom: 8px;
    margin-top: 17px;
}
.bmro-card-body label abbr{
    color: #FF8800!important;
    text-decoration: none;
}
.bmro-product-bottom{
    width:100%;
    float:left;
    padding-left: 100px;
    padding-right: 100px;
}
.bmro-inventory-color{
   color: #687686!important;  
}
.inquiry_inquiry_products_sr_no{
    margin-bottom: 0;
}
.inquiry_inquiry_products_sr_no input{
    border: none;
    box-shadow: none;
    color: #2C4159;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.55px;
}
.bmro-product-height-input{
    height: 59px!important;
}
.bmro-product-icon-right{
    border-left: 2px solid #ECEEF2;
    position: relative;
    left: 56px;
    float: left;
    padding-left: 24px;
}
.bmro-product-icon-right .form-group a{
    color: #2C4159 !important;
}
.bmro-inventory-color{
    float: left;
    display: flex;
    align-items: center;
}
.bmro-card-body .custom-file-label { margin-top:0!important; }
.bmro-button-parent{
    margin-right: 10px;
}
.bmro-button-parent button{
    padding: 8px 10px !important;
    border: 2px solid #2C4159 !important;
    border-radius: 2px !important;
    background-color: #2C4159;
    color: #FFFFFF;
    /* font-family: "Inter UI"; */
    font-size: 13px !important;
    font-weight: bold !important;
    letter-spacing: -0.51px;
    line-height: 16px !important;
    outline: none !important;
    text-transform: capitalize !important; 
    box-shadow: none !important;   
}
.bmro-button-parent button:hover{
    background-color: #385372 !important;
    color: #FFFFFF !important;
}
.bmro-date-important .mar-left{
    margin-left: 90px !important;
}
.bmro-date-important{
    float: right;
}
.bmro-date-important .form-group{
    font-size: 10px;
    color: #667668;
}
table.dataTable th{
    color: #687686;
    /*font-family: "Inter UI";*/
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.18px;
    line-height: 15px;
}
table.dataTable td{
    color: #2C4159;
    /*font-family: "Inter UI";*/
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.47px;
    line-height: 15px;
    text-align: right;    
}
.bmro-product-bottom label{
    color: #687686!important;
    font-size: 12px;
    font-weight: 700!important;
    letter-spacing: -.47px;
    line-height: 15px;
    margin-bottom: 8px;
    margin-top: 17px;
}
.bmro-input-padding{
    padding:4px 4px 30px 4px!important;
}
.bmro-icon-image{
    background-image: url("../BulkMRO/Sprint/app/assets/images/icon-sprite.png");
}
.sprite {display: inline-block; vertical-align: middle;}
.sprite {background-image: url(sprites/f7475ccb93e86bb07b77108674b17ffd.png); background-position: left center; background-repeat: no-repeat;}
.sprite.bmro_drop_icon_png {background-position: 0 0; width: 9px; height: 14px;}
.sprite.Comment_Copy_2_png {background-position: -14px 0; width: 26px; height: 26px;}
.sprite.Comment_Copy_3_png {background-position: -45px 0; width: 26px; height: 26px;}
.sprite.Comment_Copy_4_png {background-position: -76px 0; width: 26px; height: 26px;}
.sprite.Comment_png {background-position: -107px 0; width: 26px; height: 26px;}
.sprite.Comment_2_png {background-position: -138px 0; width: 26px; height: 26px;}
.sprite.Comment_2_bg_png {background-position: -169px 0; width: 26px; height: 26px;}
.sprite.Debugging_Copy_2_png {background-position: -200px 0; width: 26px; height: 26px;}
.sprite.Debugging_png {background-position: -231px 0; width: 26px; height: 26px;}
.sprite.duplicate_png {background-position: -262px 0; width: 17px; height: 17px;}
.sprite.Group_2_Copy_png {background-position: -284px 0; width: 26px; height: 26px;}
.sprite.Group_2_png {background-position: -315px 0; width: 26px; height: 26px;}
.sprite.Group_3_Copy_png {background-position: -346px 0; width: 26px; height: 26px;}
.sprite.Group_3_png {background-position: -377px 0; width: 26px; height: 26px;}
.sprite.Group_5_Copy_png {background-position: -408px 0; width: 9px; height: 14px;}
.sprite.Group_5_png {background-position: -422px 0; width: 9px; height: 14px;}
.sprite.Icons_Used_Original_With_Signature_Copy_png {background-position: -436px 0; width: 26px; height: 26px;}
.sprite.Icons_Used_Original_With_Signature_png {background-position: -467px 0; width: 26px; height: 26px;}
.sprite.Icons_Used_Proof_of_Delivery_png {background-position: -498px 0; width: 26px; height: 26px;}
.sprite.Icons_Used_Relationship_Map_Copy_png {background-position: -529px 0; width: 26px; height: 26px;}
.sprite.Icons_Used_View_Copy_png {background-position: -560px 0; width: 26px; height: 26px;}
.sprite.Icons_Used_View_png {background-position: -591px 0; width: 26px; height: 26px;}
.sprite.Icons_Used_Zip_With_Signature_png {background-position: -622px 0; width: 26px; height: 26px;}
.sprite.Icons_Used_Zip_Without_Signature_Copy_png {background-position: -653px 0; width: 26px; height: 26px;}
.sprite.Icons_Used_Zip_Without_Signature_png {background-position: -684px 0; width: 26px; height: 26px;}
.sprite.Material_Delivered_Message_Copy_png {background-position: -715px 0; width: 26px; height: 26px;}
.sprite.Material_Delivered_Message_png {background-position: -746px 0; width: 26px; height: 26px;}
.sprite.Material_Dispatch_Message_Copy_2_png {background-position: -777px 0; width: 26px; height: 26px;}
.sprite.Material_Dispatch_Message_Copy_png {background-position: -808px 0; width: 26px; height: 26px;}
.sprite.Material_Dispatch_Message_png {background-position: -839px 0; width: 26px; height: 26px;}
.sprite.noun_add_793037_copy_2_png {background-position: -870px 0; width: 18px; height: 18px;}
.sprite.noun_add_793037_copy_png {background-position: -893px 0; width: 18px; height: 19px;}
.sprite.noun_add_793037_png {background-position: -916px 0; width: 18px; height: 18px;}
.sprite.noun_Box_792100_Copy_2_png {background-position: -939px 0; width: 17px; height: 17px;}
.sprite.noun_Box_792100_Copy_png {background-position: -961px 0; width: 17px; height: 18px;}
.sprite.noun_Box_792100_png {background-position: -983px 0; width: 17px; height: 17px;}
.sprite.noun_copy_files_794434_copy_2_png {background-position: -1005px 0; width: 17px; height: 17px;}
.sprite.noun_copy_files_794434_copy_png {background-position: -1027px 0; width: 17px; height: 17px;}
.sprite.noun_copy_files_794434_png {background-position: -1049px 0; width: 17px; height: 17px;}
.sprite.noun_Download_792802_Copy_2_png {background-position: -1071px 0; width: 18px; height: 18px;}
.sprite.noun_Download_792802_Copy_png {background-position: -1094px 0; width: 18px; height: 18px;}
.sprite.noun_Download_792802_png {background-position: -1117px 0; width: 18px; height: 18px;}
.sprite.noun_options_791911_copy_2_png {background-position: -1140px 0; width: 16px; height: 16px;}
.sprite.noun_options_791911_copy_png {background-position: -1161px 0; width: 16px; height: 17px;}
.sprite.noun_options_791911_png {background-position: -1182px 0; width: 16px; height: 16px;}
.sprite.noun_Trash_Can_794530_Copy_2_png {background-position: -1203px 0; width: 16px; height: 20px;}
.sprite.noun_Trash_Can_794530_Copy_3_png {background-position: -1224px 0; width: 16px; height: 20px;}
.sprite.noun_Trash_Can_794530_Copy_4_png {background-position: -1245px 0; width: 16px; height: 20px;}
.sprite.noun_Trash_Can_794530_Copy_png {background-position: -1266px 0; width: 18px; height: 22px;}
.sprite.noun_Upload_file_794817_Copy_2_png {background-position: -1289px 0; width: 17px; height: 18px;}
.sprite.noun_Upload_file_794817_Copy_png {background-position: 0 0; width: 17px; height: 19px;}
.sprite.noun_Upload_file_794817_png {background-position: -22px 0; width: 17px; height: 18px;}
.sprite.pencil_png {background-position: -44px 0; width: 14px; height: 14px;}
.sprite.PO_Request_Copy_2_png {background-position: -63px 0; width: 26px; height: 26px;}
.sprite.PO_Request_Copy_3_png {background-position: -94px 0; width: 26px; height: 26px;}
.sprite.PO_Request_png {background-position: -125px 0; width: 26px; height: 26px;}
.sprite.Relationship_Map_Copy_3_png {background-position: -156px 0; width: 26px; height: 26px;}
.sprite.Relationship_Map_png {background-position: -187px 0; width: 26px; height: 26px;}
.sprite.Shape_Copy_2_png {background-position: -218px 0; width: 17px; height: 17px;}
.sprite.Shape_Copy_3_png {background-position: -240px 0; width: 14px; height: 14px;}
.sprite.Shape_Copy_4_png {background-position: -259px 0; width: 17px; height: 17px;}
.sprite.Shape_Copy_7_png {background-position: -281px 0; width: 17px; height: 17px;}
.sprite.Shape_Copy_8_png {background-position: -303px 0; width: 17px; height: 17px;}
.sprite.Shape_Copy_png {background-position: -325px 0; width: 17px; height: 17px;}
.sprite.Shape_png {background-position: -347px 0; width: 17px; height: 17px;}
.sprite.Toggle_Icon_Copy_2_png {background-position: -369px 0; width: 9px; height: 14px;}
.sprite.Toggle_Icon_Copy_3_png {background-position: -383px 0; width: 9px; height: 14px;}
.sprite.Toggle_Icon_Copy_4_png {background-position: -397px 0; width: 9px; height: 14px;}
.sprite.Toggle_Icon_Copy_png {background-position: -411px 0; width: 9px; height: 14px;}
.sprite.Toggle_Icon_png {background-position: -425px 0; width: 9px; height: 14px;}
.sprite.Updated_Date_Copy_png {background-position: -439px 0; width: 26px; height: 26px;}
.sprite.Updated_Date_png {background-position: -470px 0; width: 26px; height: 26px;}
