<div class="col-lg-6 col-md-7 my-2 my-lg-5">
  <h3 class="mb-1">Investor Sign Up</h3>

  <%= simple_form_for([:overseers, @company, @inquiry], :html => { :class => 'card needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <div class="card-body">
        <div class="form-group">
          <%#= f.label :first_name %>
          <%#= f.input_field :first_name, :placeholder => 'e.g. John', :class => 'form-control', :"data-parsley-error-message" => 'Enter your first name.', required: true %>
          <%= f.input :comments %>


          <%#= f.association :contact, include_blank: 'Select a point of contact'  %>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback"></div>
        </div>
      </div>
  <% end %>
</div>
<!--company under <%#= @inquiry.company %>-->

  <%#= f.hidden_field :company_id %>

  <%# if f.object.errors.any? %>
    <%# f.object.errors.full_messages.each do |message| %>
<!--      <li><%#= message %></li>-->
    <%# end %>
  <%# end %>


  <%#= f.input :created_by, disabled: true %>
  <%#= f.input :created_at, disabled: true %>
  <%#= f.input :updated_by, disabled: true %>
  <%#= f.input :updated_at, disabled: true %>

  <%#= f.association :billing_address, include_blank: 'Select a billing address'  %>
  <%#= f.association :shipping_address, include_blank: 'Select a shipping address'  %>

<!--  <hr />-->
  <%#= f.nested_fields_for :inquiry_products, wrapper_tag: :div do |inquiry_product| %>
    <%#= inquiry_product.hidden_field :id %>
    <%#= inquiry_product.association :product, collection: [inquiry_product.object.product], include_blank: "Type SKU number, name, or brand", label: false, input_html: { class: 'ajax', :'data-source' => overseers_products_path } %>
    <%#= inquiry_product.input :quantity %>
  <%# end %>

  <%#= f.add_nested_fields_link :inquiry_products, 'Add Product' %>

<!--  <hr />-->

  <%#= f.input :comments %>

  <%#= f.submit 'Save and select suppliers' %>