<div class="tab-pane fade active show" id="inquiries" role="tabpanel">
  <% content_for :ajax_url, flush: true do %><%= index_pg_overseers_inquiries_path(company_id: company.id) %>
  <% end %>
  <% content_for :header_row, flush: true do %>
    <!--          <th class="no-sort" width="98px">Quick Actions</th>-->
    <th data-name="inquiry_number">IQ #</th>
    <th class="no-sort">Status</th>
    <th class="no-sort">Account</th>
    <th class="no-sort">Company</th>
    <th class="no-sort">Contact</th>
    <th class="no-sort">Inside Sales</th>
    <th class="no-sort">Outside Sales</th>
    <th class="no-sort">Total</th>
    <th data-name="created_at">Created</th>
  <% end %>
  <% content_for :heading_buttons_internal_datatable, flush: true do %>
    <% if is_authorized(company, 'new_inquiry') && policy(company).new_inquiry? %>
      <a href="<%= new_overseers_inquiry_path(company_id: company.to_param) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down mb-2 mb-md-0 bmro-button"><i class="fal fa-plus-circle mr-1"></i>New
        Inquiry</a>
    <% else %>
      <a href="#"></a>
    <% end %>
  <% end %>
  <%= render 'shared/layouts/internal_datatable', entity: company, children: 'inquiries' %>
</div>
