<div class="col-lg-12">
  <div class="page-header">
    <h2>Monthly Purchase Data</h2>

    <div class="card mb-2">
      <div class="card-body">
        <img src="/AMAT-Revenue-and-SKU-Chart.png"/>
      </div>
    </div>

    <!--<div class="card">
      <div class="card-body">
        <table dir="ltr" border="1" cellspacing="0" cellpadding="0">
          <colgroup>
            <col width="100"/>
            <col width="100"/>
            <col width="100"/>
          </colgroup>
          <tbody>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Month&quot;}">Month</td>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;No. of SKUs&quot;}">No. of SKUs</td>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Value of Orders&quot;}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">Value
              of Orders
            </td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43421}" data-sheets-numberformat="[null,5,&quot;mmm-d&quot;,1]">Nov-17</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:23}">23</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:1198112.9500000002}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">1,198,113</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43451}" data-sheets-numberformat="[null,5,&quot;mmm-d&quot;,1]">Dec-17</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:5}">5</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:580678.24}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">580,678</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43118}" data-sheets-numberformat="[null,5,&quot;mmm-d&quot;,1]">Jan-18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:23}">23</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:1412284.2799999998}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">1,412,284</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43149}" data-sheets-numberformat="[null,5,&quot;mmm-d&quot;,1]">Feb-18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:14}">14</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:860509.87}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">860,510</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43177}" data-sheets-numberformat="[null,5,&quot;mmm-d&quot;,1]">Mar-18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:17}">17</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:1562348.5000000002}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">1,562,349</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43208}" data-sheets-numberformat="[null,5,&quot;mmm-d&quot;,1]">Apr-18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:12}">12</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:368857.52}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">368,858</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43238}" data-sheets-numberformat="[null,5,&quot;mmmm-d&quot;,1]">May-18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:15}">15</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:2795999.0999999996}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">2,795,999</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43269}" data-sheets-numberformat="[null,5,&quot;mmm-d&quot;,1]">Jun-18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:18}">18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:1868685.6699999997}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">1,868,686</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43299}" data-sheets-numberformat="[null,5,&quot;mmm-d&quot;,1]">Jul-18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:22}">22</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:2052603.5599999998}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">2,052,604</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43330}" data-sheets-numberformat="[null,5,&quot;mmm-d&quot;,1]">Aug-18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:32}">32</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:1532112.18}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">1,532,112</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43361}" data-sheets-numberformat="[null,5,&quot;mmm-d&quot;,1]">Sep-18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:15}">15</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:592357.4999999999}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">592,358</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:43391}" data-sheets-numberformat="[null,5,&quot;mmm-d&quot;,1]">Oct-18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:18}">18</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:902788.5599999999}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]">902,789</td>
          </tr>
          <tr>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Total&quot;}">Total</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:214}" data-sheets-formula="=sum(R[-12]C[0]:R[-1]C[0])">214</td>
            <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:15727337.93}" data-sheets-numberformat="[null,2,&quot;#,##0&quot;,1]" data-sheets-formula="=sum(R[-12]C[0]:R[-1]C[0])">15,727,338</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>-->
  </div>
</div>