<div class="col-lg-12">
  <div class="page-header">
    <h2>Revenue Trend</h2>

  </div>

  <div class="card">
    <div class="card-body">
      <%= bar_chart @chart[:data], @chart[:options].merge({:height => '200px', :id => 'monthly_purchase_data'}) %>
    </div>
  </div>

</div>