<div class="font-family: Arial; font-size: 14.5px;">
  <p style="color: #555;">Dear <%=@manager.name%>,</p></b>
  <p style="color: #555;">Please find attached the Team Tasks and Status Report.</p></b>
  <p style="color: #555;">The report includes a summary of the current status of each task, along with the team member responsible for its completion and any relevant deadlines. This information should help you track the progress of ongoing projects and ensure that everything is on track.</p></b>

  <br/>
  <p style="color: #555;">Thank you<br></p>
</div>