<% provide :can_be_directly_created, true %>
<% provide :can_be_ajaxed, true %>

<% content_for :header_row do %>
  <th class="no-sort"></th>
  <th data-name="role">Role</th>
  <th class="desktop text-right">Created At</th>
  <th class="desktop text-right">Updated At</th>
  <th class="desktop text-right">Created By</th>
  <th class="desktop text-right">Updated By</th>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>