<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% content_for :heading do %>
  Quotes
<% end %>

<div class="col-lg-12">
  <% content_for :header_row do %>
    <th class="no-sort all"></th>
    <th class="no-sort" data-name="order_number">Quote #</th>
    <th class="no-sort">Date</th>
    <th class="no-sort">Line Items</th>
    <th class="no-sort">Total</th>
    <th class="no-sort">Sales Person</th>
    <th class="no-sort">Valid Upto</th>
    <th class="no-sort">Status</th>
  <% end %>

  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>