<div class="d-none d-md-inline-block align-top bmro-pr">
  <button data-toggle="dropdown" class="bmro-help-btn dropdown-toggle" id="help">Help Link
    <span class="bmro-help-icon bmro-fr"></span>
  </button>
  <div class="dropdown-menu" aria-labelledby="help">
    <a class="dropdown-item" href="https://drive.google.com/file/d/11UWh4lSmDcHK_Hu__m4WKv-XJd9Sj9q2/view" target="_blank">Outward Queue User Guide</a>
  </div>
</div>