<%= provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% content_for :page_title do %>
  AR Invoice Requests
<% end %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort">Status</th>
  <th class="sort" data-toggle="tooltip" title="AR Invoice ID" data-name="ar_invoice_number"> AR Invoice number</th>
  <th class="no-sort">Inquiry #</th>
  <th class="no-sort">Company name</th>
  <th class="no-sort">Order #</th>
  <th class="no-sort">Outward dispatches</th>
<% end %>
<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>
<div class="cancellation-form-modal"></div>
