<div class="col-lg-12">
  <%= render 'form', outward_dispatch: @outward_dispatch %>
  <div class="text-center mt-2 mb-2"><strong>OR</strong></div>
  <div class="card">
    <div class="card-footer">
      <div class="form-row">
        <%= link_to "Create outward dispatch and continue to create packing slip", create_with_packing_slip_overseers_outward_dispatches_path(ar_invoice_request_id: params[:ar_invoice_request_id]), :class => "btn btn-success btn-block "%>
      </div>
    </div>
  </div>
</div>