<% provide :can_be_ajaxed, true %>
<% provide :can_be_directly_exported, true %>
<% provide :wrap_whitespace, true %>
<% provide :container_fluid, true %>

<div class="col-lg-12">
  <%= render partial: "shared/layouts/summary", locals: {klass: PurchaseOrder, statuses: PurchaseOrder.statuses} %>
</div>

<div class="col-lg-12">
  <% content_for :header_row do %>
    <th class="no-sort all"></th>
    <th class="sort desktop text-right" data-name="po_number">Purchase #</th>
    <th class="no-sort desktop text-right" data-name="inquiry_number">Inquiry #</th>
    <th class="no-sort desktop" data-name="supplier_id">Supplier</th>
    <th class="no-sort desktop">Rating</th>
    <th class="no-sort desktop" data-name="customer_id">Customer</th>
    <th class="no-sort all" data-name="po_status">Status</th>
    <th class="no-sort desktop text-right">Line Items</th>
    <th class="no-sort desktop" data-name="inside_sales_executive" data-toggle="tooltip" title="Inside Sales & Procurement" >IS & P Owner</th>
    <th class="no-sort desktop" data-name="outside_sales_executive" data-toggle="tooltip" title="Outside Sales & Procurement">OS Owner</th>
    <th class="sort desktop text-right" data-name="po_date">PO Date</th>
    <th class="no-sort desktop" data-name="material_status">Material Status</th>
    <th class="no-sort desktop" data-name="payment_status">Payment Status</th>
    <th class="no-sort desktop" data-name="percentage">Percentage</th>
    <th class="sort desktop text-right" data-name="created_at">Created</th>
  <% end %>
  <% content_for :filter_row do %>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="ajax"></td>
    <td data-filter="false"></td>
    <td data-filter="ajax"></td>
    <td class="status-filter" data-filter="dropdown"></td>
    <td data-filter="false"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="daterange"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
  <% end %>

  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>