<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :container_fluid, true %>
<% provide :can_not_show_date_range, true %>


<% content_for :heading do %>
  <% if @status.present? %>
    <%= @status %>
  <% end %>
<% end %>

<% provide :heading_buttons do %>
  <% if is_authorized(:inward_dispatch, 'update_logistics_owner_for_inward_dispatches') && policy(:inward_dispatch).update_logistics_owner_for_inward_dispatches? && !(action_name == 'inward_dispatch_delivered_queue') %>
    <div class="mr-2 float-left update_logistics_owner_wrapper">
      <%= select_tag :logistics_owner, options_for_select(Overseer.logistics.collect {|o| [o.full_name.to_s, o.id]}), class: 'form-control select2-wrap update_logistics_owner_wrapper', include_blank: 'Select a logistics owner', id: 'logistics_owner_select' %>
    </div>
    <button type="button" id="update_logistics_owner" class=" btn btn-warning btn-rounded align-self-center btn-block-sm-down ml-1 mb-md-0 mb-1 update_logistics_owner_wrapper bmro-button">
      <i class="fal fa-plus mr-1"></i>Update Logistics Owner
    </button>
  <% end %>

  <% if action_name == 'inward_dispatch_delivered_queue' %>
    <button type="button" id="create_invoice" class=" btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1 mb-md-0 mb-1 bmro-button">
      <i class="fal fa-check mr-1"></i>Create GRPO Request
    </button>
  <% end %>
<% end %>

<div class="col-lg-12 bmro-table-layout">
  <% content_for :header_row do %>
<!--    <th class="no-sort all bmro-inward-queue">-->
      <%# if is_authorized(:inward_dispatch, 'update_logistics_owner_for_inward_dispatches') && policy(:inward_dispatch).update_logistics_owner_for_inward_dispatches? && (action_name != 'inward_dispatch_delivered_queue') %>
<!--        <div class="custom-control custom-checkbox">-->
<!--          <input type="checkbox" class="custom-control-input" name="all_inward_dispatches" id="all_inward_dispatches">-->
<!--          <label class="custom-control-label" for="all_inward_dispatches">Select All</label>-->
<!--        </div>-->
      <%# end %>
<!--    </th>-->

      <% if is_authorized(:inward_dispatch, 'update_logistics_owner_for_inward_dispatches') && policy(:inward_dispatch).update_logistics_owner_for_inward_dispatches? && (action_name != 'inward_dispatch_delivered_queue') %>
        <th class="sort desktop text-right" width="100px">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="all_inward_dispatches" id="all_inward_dispatches">
              <label class="custom-control-label" for="all_inward_dispatches">Quick Actions</label>
            </div>
        </th>
      <%else %>
<!--        <th class="no-sort all bmro-material-queue checkbox" width="30px"></th>-->
      <th class="no-sort all bmro-material-queue" width="100px" ></th>
      <% end %>


    <th class="sort desktop text-right" width="78px" data-name="inquiry_number">Inquiry #</th>
    <th class="no-sort desktop text-left" width="130px" data-name="customer_id">Customer Company Name</th>
    <th class="sort desktop text-right" width="88px" data-name="so_number">Sales Order #</th>
    <th class="sort desktop text-left" width="88px" data-name="so_date">Sales Order Date</th>
    <th class="sort desktop text-left" width="82px" data-name="customer_committed_date">Committed Date<br> to Customer</th>
    <th class="sort desktop text-right" width="88px" data-name="po_number">Supplier PO #</th>
    <th class="sort desktop text-left" width="88px" data-name="po_date">Supplier PO Date</th>
    <th class="no-sort desktop text-left" width="130px" data-name="supplier_id">Supplier Name</th>
    <th class="no-sort desktop text-left" width="94px" data-name="sales_owner" data-toggle="tooltip" title="Inside Sales & Procurement">IS&P</th>
    <th class="no-sort desktop text-left" width="94px" data-name="logistics_owner_id">Logistics Owner</th>
    <th class="no-sort desktop text-left" width="98px" data-name="po_status">Status</th>
    <th class="no-sort desktop text-left" width="98px" data-name="po_request_status">PO Request Status</th>
    <th class="no-sort desktop text-left" width="130px" data-name="pr_status">Payment Request Status</th>
    <th class="no-sort all text-left" width="98px" data-name="material_status">Material Status</th>
    <th class="sort desktop text-left" width="222px" data-name="latest_comment" width="230px">Latest Comment</th>
    <th class="sort desktop text-left" width="90px" data-name="expected_dispatch_date">Expected Dispatch<br> Date</th>
    <th class="no-sort desktop text-left" width="85px" data-name="logistics_partner">Logistics Partner</th>
    <th class="no-sort desktop text-left" width="90px" data-name="tracking_number">Tracking Details</th>
    <th class="sort desktop text-left" width="80px" data-name="expected_delivery_date">Expected Delivery Date</th>
  <% end %>
  <% content_for :filter_row do %>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="ajax"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="ajax"></td>
    <td data-filter="false"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false" width="106px"></td>
    <td data-filter="daterange"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="daterange"></td>
  <% end %>

  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>

<div id="goodsReceiptPurchaseOrderId" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">GRPO Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You can't create GRPO Request against this PO because this PO is not sync with SAP.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="open-modal-form"></div>