<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :container_fluid, true %>

<% content_for :heading do %>
  <% if @status.present? %>
    <%= @status %>
  <% end %>
<% end %>

<% provide :heading_buttons do %>
    <button type="button" id="create_ar_invoice" class=" btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1 mb-md-0 mb-1">
      <i class="fal fa-check mr-1"></i>Create AR Invoice Request
    </button>
<% end %>

<div class="col-lg-12">
  <% content_for :header_row do %>
    <th class="no-sort all"></th>
    <th class="no-sort desktop text-right">AR invoices</th>
    <th class="sort desktop text-right" data-name="inquiry_number">Inquiry #</th>
    <th class="no-sort desktop" data-name="company_name">Customer Company Name</th>
    <th class="sort desktop text-right" data-name="so_number">Sales Order #</th>
    <th class="sort desktop text-right" data-name="so_date">Sales Order Date</th>
    <th class="sort desktop text-right" data-name="customer_committed_date">Committed Date to Customer</th>
    <th class="sort desktop text-right" data-name="po_number">Supplier PO #</th>
    <th class="sort desktop right" data-name="po_date">Supplier PO Date</th>
    <th class="no-sort desktop" data-name="supplier_id">Supplier Name</th>
    <th class="no-sort desktop" data-name="sales_owner" data-toggle="tooltip" title="Inside Sales & Procurement">IS&P</th>
    <th class="no-sort desktop" data-name="logistics_owner_id">Logistics Owner</th>
    <th class="no-sort desktop" data-name="po_status">Status</th>
    <th class="no-sort desktop" data-name="po_request_status">PO Request Status</th>
    <th class="no-sort desktop" data-name="pr_status">Payment Request Status</th>
    <th class="no-sort all" data-name="material_status">Material Status</th>
    <th class="no-sort all" data-name="ar_invoice_request_status">AR Invoice <br> Status</th>
    <th class="sort desktop" data-name="latest_comment">Latest Comment</th>
    <th class="sort desktop text-right" data-name="expected_dispatch_date">Expected Dispatch Date</th>
    <th class="no-sort desktop" data-name="logistics_partner">Logistics Partner</th>
    <th class="no-sort desktop" data-name="tracking_number">Tracking Details</th>
    <th class="sort desktop text-right" data-name="expected_delivery_date">Expected Delivery Date</th>
  <% end %>
  <% content_for :filter_row do %>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="ajax"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="ajax"></td>
    <td data-filter="false"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="false"></td>
    <td data-filter="daterange"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="daterange"></td>
  <% end %>

  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>