<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :can_be_exported_material_readiness_queue, true %>
<% provide :container_fluid, true %>
<% content_for :heading do %>
  Material Readiness Queue
<% end %>

<% content_for(:heading_buttons) do %>
  <% if is_authorized(:purchase_order, 'update_logistics_owner') && policy(:purchase_order).update_logistics_owner? %>
    <div class="mr-2 float-left update_logistics_owner_wrapper">
      <%= select_tag :logistics_owner, options_for_select(Overseer.logistics.collect { |o| [o.full_name.to_s, o.id] }), class: 'form-control select2-wrap bmro-form-input bmro-dropdown-icon update_logistics_owner_wrapper', include_blank: 'Select a logistics owner', id: 'logistics_owner_select' %>
    </div>
    <button type="button" id="update_logistics_owner" class=" btn btn-warning bmro-button btn-rounded align-self-center btn-block-sm-down ml-1 mb-md-0 mb-1 update_logistics_owner_wrapper">
      <i class="fal fa-plus mr-1"></i>Update Logistics Owner
    </button>
  <% end %>
<% end %>
<%# if Settings.reports.show_summary && action_name == "material_readiness_queue" %>
<!--  <div class="col-lg-12">-->
    <%#= render partial: "shared/layouts/summary", locals: {klass: PurchaseOrder, statuses: PurchaseOrder.material_summary_statuses, alias_name: 'Followup'} %>
<!--  </div>-->
<%# end %>


<div class="col-lg-12 bmro-table-layout">
  <% content_for :header_row do %>

    <% if is_authorized(:purchase_order, 'update_logistics_owner') && policy(:purchase_order).update_logistics_owner? %>
      <th class="no-sort all bmro-material-queue bmro-selectp" width="16px">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="all_purchase_orders" id="all_purchase_orders">
          <label class="custom-control-label" for="all_purchase_orders"></label>
        </div>
      </th>
    <%else %>
      <th class="no-sort all bmro-material-queue checkbox" width="70px">
      </th>
    <% end %>
    <th class="sort desktop text-right bmro-table-actions" data-name="inquiry_number" width="98px">Quick Actions</th>
    <th class="no-sort desktop text-right" width="70px" data-name="po_request_id">PO Request #</th>
    <th class="no-sort desktop text-right" width="76px" data-name="inquiry_number">Inquiry #</th>
    <th class="no-sort desktop text-left" width="130px" data-name="customer_id">Customer Company Name</th>
    <th class="no-sort all text-left" width="140px" data-name="material_status">Material Status</th>
    <th class="no-sort desktop text-right" width="70px" data-name="supplier_po_number">Supplier PO #</th>
    <th class="no-sort desktop text-left" width="85px" data-name="supplier_po_date">Supplier<br> PO Date</th>
    <th class="no-sort desktop text-left" width="130px" data-name="supplier_id">Supplier Name</th>
    <th class="no-sort desktop text-left" width="64px" data-name="po_type">PO Type</th>
    <th class="sort desktop text-left" width="230px" data-name="latest_comment">Latest Comment</th>
    <th class="no-sort desktop text-left" width="85px" data-name="so_date">Sales Order Date</th>
    <th class="no-sort desktop text-right" width="70px"  data-name="so_number">Sales Order #</th>
    <th class="no-sort desktop text-right" width="88px" data-name="committed_date">Committed Date<br> to Customer</th>
    <th class="no-sort desktop" data-toggle="tooltip" width="60px" title="Inside Sales & Procurement" data-name="inside_sales_executive">IS&P</th>
    <th class="no-sort desktop" width="90px" data-name="logistics_owner">Logistics Owner</th>
    <th class="sort desktop text-right" width="88px" data-name="followup_date">Material Follow<br> Up Date</th>
    <th class="sort desktop text-right" width="98px" data-name="expected_delivery_date">Expected Supplier<br> Delivery Date</th>
    <th class="no-sort desktop text-left" width="130px" data-name="payment_request_status">Payment Request status</th>
    <th class="no-sort desktop" width="60px" data-name="percentage_paid">Percentage Paid</th>
    <th class="no-sort desktop" width="55px">Requested Date</th>
    <th class="no-sort desktop" width="88px" data-name="buying_price">Buying Price</th>
    <th class="no-sort desktop" width="88px" data-name="selling_price">Selling Price</th>
    <th class="no-sort desktop" width="52px" data-name="po_margin">PO Margin %</th>
    <th class="no-sort desktop" width="52px">Overall Margin %</th>
  <% end %>
  <% content_for :filter_row do %>
    <td data-filter="false"></td>
    <td data-filter="false" width="98px"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="ajax"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="ajax"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="daterange"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="daterange"></td>
    <td data-filter="false"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
  <% end %>

  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>