<div class="modal-dialog modal-large">
  <div class="modal-content " >
    <div class="modal-header">
      <h5 class="modal-title">Search Supplier</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="row">
      <div class="col-11 ml-5">
        <%= hidden_field_tag :product_ids %>
        <%= hidden_field_tag :inquiry_id, @inquiry.to_param %>
        <button type="button" id="add_supplier" class=" btn btn-warning btn-rounded align-self-center btn-block-sm-down ml-1 mb-md-0 mb-1 float-right add_supplier_wrapper">
          <i class="fal fa-plus mr-1"></i>Add Supplier
        </button>
      </div>
    </div>

    <div class="row">
      <% if is_authorized(:company, 'customized_index') %>
        <% content_for :ajax_url, flush: true do %>
          <%= customized_index_overseers_suppliers_path %>
        <% end %>
      <% end %>
      <div class="col-12">
        <% content_for :header_row do %>
          <th class="no-sort all">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="all_suppliers" id="all_suppliers">
              <label class="custom-control-label" for="all_suppliers"></label>
            </div>
          </th>
          <th class="no-sort all text-wrap" width="50px" data-name="name">Name</th>
          <th class="no-sort all" data-name="account_id">Account</th>
          <th class="no-sort all" data-name="nature_of_business">Supplier Type</th>
          <th class="no-sort desktop" data-name="supplied_brand">Brands</th>
          <th class="no-sort desktop">Contact</th>
          <th class="no-sort all">Rating</th>
          <th class="sort desktop text-right" data-name="purchase_orders_count">No. of POs</th>
          <th class="sort desktop text-right" data-name="supplied_brands_count">No. of Brands</th>
          <th class="sort desktop text-right" data-name="supplied_products_count">No. of Products</th>
          <th class="no-sort desktop text-wrap" width="80px">Default Billing Address</th>
          <th class="no-sort desktop" data-name="brand_names">Created By</th>
          <th class="desktop text-right" data-name="created_at">Created</th>
        <% end %>
        <%= render 'shared/layouts/internal_datatable', entity: nil, children: 'suppliers' %>
      </div>
    </div>
  </div>
</div>
