<div class="col-lg-12 col-xl-12">
  <br />
  <section class="pb-4 pb-lg-5">
    <ul class="nav nav-tabs nav-fill">
      <%= nav_item('Inquiry', edit_overseers_inquiry_path(@inquiry), policy(@inquiry).edit?) %>
      <%= nav_item('Imports', overseers_inquiry_imports_path(@inquiry), policy(@inquiry).imports_index?) %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active show" role="tabpanel">
        <%= yield %>
      </div>
    </div>
  </section>
</div>