<% provide :can_be_directly_created, true %>
<% provide :can_be_ajaxed, true %>

<% content_for :header_row do %>
  <th>Created</th>
  <th>Company</th>
  <th>Contact</th>
  <th>Actions</th>
<% end %>

<div class="col-lg-11">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>