<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :can_be_directly_downloaded, true %>

<% content_for :heading do %>KRA Report<% end %>
<% provide :hide_table_desc, true %>

<%= render layout: 'search_layout' do %>
<% end %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all" data-name="inside_sales_owner_id">Name</th>
  <th class="no-sort all text-right">No. of Inquiries</th>
  <th class="no-sort all text-right">No. of Sales Quotes</th>
  <th class="no-sort all text-right">Value of Quotes</th>
  <th class="no-sort all text-right">No. of Expected Orders</th>
  <th class="no-sort all text-right">Value of Expected Orders</th>
  <th class="no-sort all text-right">No. of Sales Orders</th>
  <th class="no-sort all text-right">Value of Orders</th>
  <th class="no-sort all text-right">Unique Ordered SKU#</th>
  <th class="no-sort all text-right">%Inquiries Won</th>
  <th class="no-sort all text-right">Sales Invoices</th>
  <th class="no-sort all text-right">Revenue</th>
  <th class="no-sort all text-right">Clients</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>