<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<% content_for :heading do %>KRA Report per sales person<% end %>
<% provide :hide_table_desc, true %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all" data-name="inside_sales_executive">Inside Sales Owner</th>
  <th class="no-sort all" data-name="outside_sales_executive">Outside Sales Owner</th>
  <th class="no-sort all" data-name="status">Status</th>
  <th class="sort all text-right" data-name="inquiry_number">Inquiry</th>
  <th class="sort all text-right" data-name="created_at">Date of inquiry</th>
  <th class="sort all text-right" data-name="sales_quote_value">Value of Quote</th>
  <th class="sort all text-right" data-name="sales_quote_created_at">Date of Quote</th>
  <th class="no-sort all text-right">Value of Orders</th>
  <th class="no-sort all text-right">Date of Orders</th>
  <th class="no-sort all text-right">%Margin</th>
  <th class="no-sort all text-right">Value of Margin</th>
  <th class="sort all text-right" data-name="invoices_count">Sales Invoices</th>
  <th class="no-sort all text-right">Date of Invoices</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="dropdown"></td>
  <td class="status-filter" data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="daterange"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>