<div class="col-lg-12">
  <%= render 'shared/snippets/page_header', e: @inquiry %>
  <% if params[:company_id].present? %>
    <%= render 'overseers/inquiries/form' %>
  <% else %>
    <%= render 'overseers/inquiries/primary_fields_form' %>
  <% end %>
</div>