<div class="col-lg-12">
  <% content_for :heading_byline do %>
    This are the various <em>stages for <%= @inquiry %></em>.
  <% end %>
  <%= render layout: 'overseers/inquiries/tabs_layout' do %>
    <div>
      <div class="treant" style="width:100%; height: auto;" data-nodes="<%= get_relationship_map_json_overseers_inquiry_path(@inquiry.id) %>"></div>
    </div>
  <% end %>
</div>