<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :can_be_directly_exported_inquiry_tat, true %>


<% provide :wrap_whitespace, true %>
<% content_for :heading do %>
  TAT Report
<% end %>

<div class="col-lg-12 avg_summary_box"></div>
<% content_for :table_desc do %>
  TAT Report <%= "for range " + @date_range.gsub("~", "to") if @date_range.present? %> searchable with relevant term/keywords.
<% end %>
<% content_for :controller_is_aliased, false %>
<% content_for :page_title do %>
  Reports
<% end %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="sort all" data-name="inquiry_number">Inquiry Number</th>
  <th class="sort all" data-name="inquiry_created_at">Inquiry Created Time</th>
  <th class="no-sort all" data-name="inside_sales_owner_id">Inside Sales Owner</th>
  <th class="sort all" data-name="inquiry_products">Products</th>
  <th class="no-sort all">Sales Quote</th>
  <th class="no-sort all">SO Doc ID</th>
  <th class="no-sort all">Sales Order Number</th>
  <th class="no-sort all">Sales Order Status</th>
  <th class="no-sort all" data-name="">New Inquiry</th>
  <th class="sort all" data-name="time_new_inquiry">New Inquiry Date</th>
  <th class="sort all" data-name="acknowledgment_mail_mins">Acknowledgement Mail<br>(Minutes)</th>
  <th class="no-sort all">Acknowledgement Mail<br>(Time)</th>
  <th class="sort all" data-name="acknowledgment_mail_date">Acknowledgement Mail <br>Date</th>
  <th class="sort all" data-name="cross_reference_mins">Cross Reference<br>(Minutes)</th>
  <th class="no-sort all">Cross Reference<br>(Time)</th>
  <th class="sort all" data-name="cross_reference_date">Cross Reference <br>Date</th>
  <th class="sort all" data-name="preparing_quotation_mins">Preparing Quotation<br>(Minutes)</th>
  <th class="no-sort all">Preparing Quotation<br>(Time)</th>
  <th class="sort all" data-name="preparing_quotation_date">Preparing Quotation <br>Date</th>
  <th class="sort all" data-name="quotation_sent_mins">Quotation Sent<br>(Minutes)</th>
  <th class="no-sort all">Quotation Sent<br>(Time)</th>
  <th class="sort all" data-name="quotation_sent_date">Quotation Sent <br>Date</th>
  <th class="sort all" data-name="draft_so_appr_by_sales_manager_mins">Draft SO for Approval by Sales Manager<br>(Minutes)
  </th>
  <th class="no-sort all">Draft SO for Approval by Sales Manager<br>(Time)</th>
  <th class="sort all" data-name="draft_so_appr_by_sales_manager_date">Draft SO for Approval by Sales Manager <br>Date
  </th>
  <th class="sort all" data-name="so_reject_by_sales_manager_mins">SO Rejected by Sales Manager<br>(Minutes)</th>
  <th class="no-sort all">SO Rejected by Sales Manager<br>(Time)</th>
  <th class="sort all" data-name="so_reject_by_sales_manager_date">SO Rejected by Sales Manager <br>Date</th>
  <th class="sort all" data-name="so_draft_pending_acct_approval_mins">SO Draft: Pending Accounts Approval<br>(Minutes)
  </th>
  <th class="no-sort all">SO Draft: Pending Accounts Approval<br>(Time)</th>
  <th class="sort all" data-name="so_draft_pending_acct_approval_date">SO Draft: Pending Accounts Approval <br>Date</th>
  <th class="sort all" data-name="rejected_by_accounts_mins">Rejected by Accounts<br>(Minutes)</th>
  <th class="no-sort all">Rejected by Accounts<br>(Time)</th>
  <th class="sort all" data-name="rejected_by_accounts_date">Rejected by Accounts <br>Date</th>
  <th class="sort all" data-name="hold_by_accounts_mins">Hold by Accounts<br>(Minutes)</th>
  <th class="no-sort all">Hold by Accounts<br>(Time)</th>
  <th class="sort all" data-name="hold_by_accounts_mins">Hold by Accounts <br>Date</th>
  <th class="sort all" data-name="order_won_mins">Order Won<br>(Minutes)</th>
  <th class="no-sort all">Order Won<br>(Time)</th>
  <th class="sort all">Order Won <br>Date</th>
  <th class="sort all">Order Lost<br>(Minutes)</th>
  <th class="no-sort all">Order Lost<br>(Time)</th>
  <th class="sort all" data-name="">Order Lost <br>Date</th>
  <th class="no-sort all" data-name="">Regret<br>(Minutes)</th>
  <th class="no-sort all">Regret<br>(Time)</th>
  <th class="sort all" data-name="">Regret <br>Date</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="daterange"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>