<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<%# provide :can_be_directly_exported_inquiry_tat, true %>
<% content_for :heading do %>
  TAT Report
<% end %>
<% content_for :table_desc do %>
    TAT Report <%= "for range " + @date_range.gsub("~","to") if @date_range.present?%> searchable with relevant term/keywords.
<% end %>
<% content_for :controller_is_aliased, false %>
<% content_for :page_title do %>
  Reports
<% end %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all">Inquiry Number</th>
  <th class="no-sort all text-right" data-name="inquiry_created_at">Inquiry Created Time</th>
  <th class="no-sort all text-right">Products</th>
  <th class="no-sort all">Inside Sales Owner</th>
  <th class="no-sort all">Sales Quote</th>
  <th class="no-sort all">SO Doc ID</th>
  <th class="no-sort all">Sales Order Number</th>
  <th class="no-sort all">Sales Order Status</th>
  <th class="no-sort all">New Inquiry(mins)</th>
  <th class="no-sort all text-right">New Inquiry Date</th>
  <th class="no-sort all">Acknowledgement Mail(mins)</th>
  <th class="no-sort all text-right">Acknowledgement Mail Date</th>
  <th class="no-sort all">Cross Reference(mins)</th>
  <th class="no-sort all text-right">Cross Reference Date</th>
  <th class="no-sort all">Preparing Quotation(mins)</th>
  <th class="no-sort all text-right">Preparing Quotation Date</th>
  <th class="no-sort all">Quotation Sent(mins)</th>
  <th class="no-sort all text-right">Quotation Sent Date</th>
  <th class="no-sort all">Draft SO for Approval by Sales Manager(mins)</th>
  <th class="no-sort all text-right">Draft SO for Approval by Sales Manager Date</th>
  <th class="no-sort all">SO Rejected by Sales Manager(mins)</th>
  <th class="no-sort all text-right">SO Rejected by Sales Manager Date</th>
  <th class="no-sort all ">SO Draft: Pending Accounts Approval(mins)</th>
  <th class="no-sort all text-right">SO Draft: Pending Accounts Approval Date</th>
  <th class="no-sort all">Rejected by Accounts(mins)</th>
  <th class="no-sort all text-right">Rejected by Accounts Date</th>
  <th class="no-sort all">Hold by Accounts(mins)</th>
  <th class="no-sort all text-right">Hold by Accounts Date</th>
  <th class="no-sort all">Order Won(mins)</th>
  <th class="no-sort all text-right">Order Won Date</th>
  <th class="no-sort all">Order Lost(mins)</th>
  <th class="no-sort all text-right">Order Lost Date</th>
  <th class="no-sort all">Regret(mins)</th>
  <th class="no-sort all text-right">Regret Date</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="daterange"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>