<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :can_be_directly_exported_inquiry_tat, true %>
<% provide :wrap_whitespace, true %>
<% content_for :heading do %>
  TAT Report
<% end %>

<div class="col-lg-12 avg_summary_box"></div>
<% content_for :table_desc do %>
  TAT Report <%= "for range " + @date_range.gsub("~", "to") if @date_range.present? %> searchable with relevant term/keywords.
<% end %>
<% content_for :controller_is_aliased, false %>
<% content_for :page_title do %>
  Reports
<% end %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="sort all" data-name="inquiry_number">Inquiry Number</th>
  <th class="sort all" data-name="inquiry_created_at">Inquiry Created Time</th>
  <th class="no-sort all">Inside Sales Owner</th>
  <th class="sort all" data-name="inquiry_products">Products</th>
  <th class="no-sort all">Sales Quote</th>
  <th class="no-sort all">SO Doc ID</th>
  <th class="no-sort all">Sales Order Number</th>
  <th class="no-sort all">Sales Order Status</th>
  <th class="no-sort all" data-name="">New Inquiry</th>
  <th class="sort all" data-name="time_new_inquiry">New Inquiry Date</th>
  <th class="sort all" data-name="status_acknowledgment_mail">Acknowledgement Mail<br>(Minutes)</th>
  <th class="no-sort all">Acknowledgement Mail<br>(Time)</th>
  <th class="sort all" data-name="time_acknowledgment_mail">Acknowledgement Mail <br>Date</th>
  <th class="sort all" data-name="status_cross_reference">Cross Reference<br>(Minutes)</th>
  <th class="no-sort all">Cross Reference<br>(Time)</th>
  <th class="sort all" data-name="time_cross_reference">Cross Reference <br>Date</th>
  <th class="sort all" data-name="status_preparing_quotation">Preparing Quotation<br>(Minutes)</th>
  <th class="no-sort all">Preparing Quotation<br>(Time)</th>
  <th class="sort all" data-name="time_preparing_quotation">Preparing Quotation <br>Date</th>
  <th class="sort all" data-name="status_quotation_sent">Quotation Sent<br>(Minutes)</th>
  <th class="no-sort all">Quotation Sent<br>(Time)</th>
  <th class="sort all" data-name="time_quotation_sent">Quotation Sent <br>Date</th>
  <th class="sort all" data-name="status_draft_so_appr_by_sales_manager">Draft SO for Approval by Sales Manager<br>(Minutes)</th>
  <th class="no-sort all">Draft SO for Approval by Sales Manager<br>(Time)</th>
  <th class="sort all" data-name="time_draft_so_appr_by_sales_manager">Draft SO for Approval by Sales Manager <br>Date</th>
  <th class="sort all" data-name="status_so_reject_by_sales_manager">SO Rejected by Sales Manager<br>(Minutes)</th>
  <th class="no-sort all">SO Rejected by Sales Manager<br>(Time)</th>
  <th class="sort all" data-name="time_so_reject_by_sales_manager">SO Rejected by Sales Manager <br>Date</th>
  <th class="sort all" data-name="status_so_draft_pending_acct_approval">SO Draft: Pending Accounts Approval<br>(Minutes)</th>
  <th class="no-sort all">SO Draft: Pending Accounts Approval<br>(Time)</th>
  <th class="sort all" data-name="time_so_draft_pending_acct_approval">SO Draft: Pending Accounts Approval <br>Date</th>
  <th class="sort all" data-name="status_rejected_by_accounts">Rejected by Accounts<br>(Minutes)</th>
  <th class="no-sort all" >Rejected by Accounts<br>(Time)</th>
  <th class="sort all" data-name="time_rejected_by_accounts">Rejected by Accounts <br>Date</th>
  <th class="sort all" data-name="status_hold_by_accounts">Hold by Accounts<br>(Minutes)</th>
  <th class="no-sort all">Hold by Accounts<br>(Time)</th>
  <th class="sort all" data-name="time_hold_by_accounts">Hold by Accounts <br>Date</th>
  <th class="sort all" data-name="status_order_won">Order Won<br>(Minutes)</th>
  <th class="no-sort all">Order Won<br>(Time)</th>
  <th class="sort all" data-name="time_order_won">Order Won <br>Date</th>
  <th class="sort all" data-name="status_order_lost">Order Lost<br>(Minutes)</th>
  <th class="no-sort all">Order Lost<br>(Time)</th>
  <th class="sort all" data-name="time_order_lost">Order Lost <br>Date</th>
  <th class="no-sort all">Regret<br>(Minutes)</th>
  <th class="no-sort all">Regret<br>(Time)</th>
  <th class="no-sort all">Regret <br>Date</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="daterange"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>