
<%#= simple_form_for(@ar_invoice) do |f| %>
  <%#= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<!--  <div class="form-inputs">-->
<!--  </div>-->

<!--  <div class="form-actions">-->
    <%#= f.button :submit %>
<!--  </div>-->
<%# end %>

<div class="col-lg-12">
  <%= render 'shared/snippets/page_header', e: @ar_invoice %>

  <%= simple_form_for([:overseers, @ar_invoice], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>

  <% end %>
</div>
