<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :container_fluid, true %>
<% provide :use_url_as_page_title, true %>
<% provide :show_date_filter, true %>
<% content_for :heading do %>
  Invoices
<% end %>



<div class="">
  <% content_for :header_row do %>
    <th class="no-sort all"></th>
    <% if policy(current_customers_contact).admin_columns? %>
      <th class="no-sort desktop" data-name="company_id">Company</th>
    <% end %>
    <th class="no-sort desktop" data-name="cp_po_number">PO #</th>
    <th class="no-sort desktop " data-name="cp_order_date">PO Date</th>
    <th class="no-sort all" data-name="invoice_number">Invoice #</th>
    <th class="no-sort desktop " data-name="created_at">Invoice Date</th>
    <th class="no-sort desktop" data-name="inquiry_number">Inquiry #</th>
    <th class="no-sort desktop " data-name="cp_ship_to">Ship To</th>
    <th class="no-sort desktop" data-name="order_number">Order #</th>
    <th class="no-sort desktop">Line Items</th>
    <th class="no-sort desktop ">Proof of Delivery</th>
    <th class="no-sort desktop ">POD</th>
  <% end %>
  <% content_for :filter_row do %>
    <td data-filter="false"></td>
    <% if policy(current_customers_contact).admin_columns? %>
      <td data-filter="dropdown"></td>
    <% end %>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="daterange"></td>
    <td data-filter="false"></td>
    <td data-filter="ajax"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
  <% end %>

  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>
