button {
  &,
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }
}

.btn {
  font-size: 0.75rem;
  text-transform: uppercase;
  position: relative;

  &[data-badge] {
    &:after {
      content: attr(data-badge);
      position: absolute;
      right: 0;
      font-size: 0.7em;
      padding: 0.25em 0.45em;
      border-radius: 10em;
      color: $dark;
      background-color: $white;
      bottom: -0.9em;
      line-height: 1em;
      text-transform: none;
    }
  }
}

.btn-rounded {
  border-radius: 100rem;
}

@include media-breakpoint-down("sm") {
  .btn-block-sm-down {
    display: block;
    width: 100%;
  }

  // Specificity overrides
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    &.btn-block-sm-down {
      width: 100%;
    }
  }
}