.dropdown-toggle {
  &:after {
    opacity: .5;
    transform: scaleX(.8);
  }
}

.dropdown-menu {
  box-shadow: $dropdown-box-shadow;
  font-size: .875rem;
  padding-left: $dropdown-padding-y;
  padding-right: $dropdown-padding-y;
}

.dropdown-item {
  border-radius: $border-radius;
  font-weight: 600;
}

.dropdown-divider {
  margin: .5rem 0;
}

.dropdown-submenu {
  position: relative;

  .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

  .dropdown-item {
    padding-right: 1.5em;

    &::after {
      transform: rotate(-90deg);
      position: absolute;
      right: 6px;
      top: .8em;
    }
  }
}

