.main-container {
  > .container:last-child,
  > .container-fluid:last-child {
    padding-bottom: $spacer * 4;
  }

  > .container {
    padding-bottom: $spacer * 3;
  }
}

.container-fluid {
  @include media-breakpoint-up(md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

