.rim {
  &.rim-top {
    border-top: 4px solid transparent;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
  }

  &.rim-right {
    border-top: 0 !important;
    border-right: 4px solid transparent;
    border-bottom: 0 !important;
    border-left: 0 !important;
  }

  &.rim-bottom {
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 4px solid transparent;
    border-left: 0 !important;
  }

  &.rim-left {
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 4px solid transparent;
  }
}