html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@include media-breakpoint-down(sm) {
  h1,
  .display-4,
  .h1 {
    font-size: $h2-font-size;
  }

  h3 {
    font-size: $h4-font-size;
  }
}

@media all and (max-width: 1024px) {
  html {
    font-size: 0.875rem;
  }
}

.text-small {
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

p.lead {
  margin-bottom: $spacer;
}

p:last-child {
  margin-bottom: 0;
}

hr {
  border-color: $border-color;
  width: 100%;
}

.bg-dark {
  hr {
    border-color: rgba(255, 255, 255, .1);
  }

  .text-muted {
    color: rgba(255, 255, 255, .5) !important;
  }
}

.no-line-height {
  line-height: 0 !important;
}

a:focus {
  outline: none;
}

i.material-icons {
  &.h1,
  &.h2,
  &.h3,
  &.h4 {
    font-family: "Material Icons";
    margin-bottom: 0;
  }
}