<div class="d-none d-md-inline-block align-top bmro-pr">
  <button data-toggle="dropdown" class="bmro-help-btn dropdown-toggle" id="help">Help Link
    <span class="bmro-help-icon bmro-fr"></span>
  </button>
  <div class="dropdown-menu" aria-labelledby="help">
    <a class="dropdown-item" href="https://drive.google.com/file/d/1WESvKgCACbwgM6uuESXrTY5kPOOd1KIi/view" target="_blank" target="_blank">SO/PO User Guide</a>
    <a class="dropdown-item" href="https://drive.google.com/file/d/1x1gkvgqLc-BpC2mF7MRJtGHQBo84D7_V/view" target="_blank" target="_blank">Create Manual PO User Guide</a>
  </div>
</div>