<div class="modal fade" id="addComment">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--      <div class="col-12 mt-3">-->
      <!--        <div class="card">-->
      <div class="modal-header text-center mb-3 mt-3 px-0 p-0">

        <div class="card-header-tabs w-100">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-black-150 text-lg-center w-100 text-small pt-1 pb-1">
            <strong class="text-uppercase">Update Inquiries</strong>
            <strong class="d-block">Please add Inquiry numbers to be updated and associated fields. Click on update inquiries button. </strong>
          </h4>
        </div>

      </div>
      <!--        </div>-->
      <!--      </div>-->

      <div class="modal-body mb-3 px-0 p-0">
        <%= simple_form_for(:bulk_update_inquiries, :url => add_overseers_inquiries_path, :method => :get, :html => {:class => 'col-12 needs-validation bulk-update-form', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
          <div class="error bg-danger text-white text-center mb-3 px-1 rounded"></div>
          <div class="card">
            <div class="card-body">
              <div class="form-row">
                <div class="col">
                 <h4> hiiiiii</h4>
                </div>
              </div>
              <div class="modal-footer p-0">
                <div class="card-footer w-100">
                  <%= button_tag(type: "submit", class: "btn btn-success btn-block bulk-update") do %>
                    Update Inquiries
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


