<div class="modal fade" id="cancelpo">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cancel Po Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for([:overseers, @po_request], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
        <div class="modal-body">
          <%= f.input :cancellation_reason, as: :text, :placeholder => 'Type Cancellation Reason', input_html: {:'data-parsely-no-valid-feedback' => ''} %>
          <%= f.hidden_field :status, :value => 'Cancelled' %>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-warning confirm-cancel">Cancel Po Request</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>