<%= provide :container_fluid, true %>
<% provide :can_be_directly_created, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<% content_for :header_row do %>
  <th class="no-sort all" data-width="70px"></th>
  <th class="no-sort desktop" data-name="name">Name</th>
  <th class="no-sort all text-right" data-name="sku">SKU</th>
  <th class="no-sort desktop text-right">Inquiry #</th>
  <th class="no-sort desktop">IS</th>
  <th class="no-sort desktop">Brand</th>
  <th class="no-sort desktop">Category</th>
  <th class="no-sort desktop">Kit SAP Status</th>
  <th class="no-sort desktop">Product SAP Status</th>
  <th class="no-sort desktop text-right" data-name="created_at">Created</th>
  <th class="no-sort desktop text-right">Approved</th>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>