<div class="col-lg-12">
  <%= render 'shared/snippets/page_header', e: @measurement_unit %>

  <%= simple_form_for([:overseers, @measurement_unit], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
  <div class="bmro-card bmro-card-padding">
    <%= f.input :name %>
    <div class="bmro-button-parent">
    	<%= action_button(action_name, @measurement_unit) %>
    </div>
  <% end %>
  </div>
</div>
