<div class="measurement-modal" id="modalmeasurment">
  <% provide :can_be_directly_created, true %>
</div>
<% provide :can_be_ajaxed, true %>

<% content_for :header_row do %>
  <th class="no-sort"></th>
  <th data-name="name">Measurement Unit</th>
  <th class="desktop text-right" data-name="created_at">Created</th>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>