<div class="tab-pane fade active show" id="invoices" role="tabpanel">
  <div class="table-responsive">
    <% content_for :ajax_url, flush: true do %><%= overseers_company_sales_invoices_path(company_id: company.id) %>
    <% end %>
    <% content_for :header_row, flush: true do %>
      <th class="no-sort all" width="98px">Quick Actions</th>
      <th class="sort all text-right" data-name="invoice_number">Invoice #</th>
      <th class="sort desktop text-right" data-name="inquiry_number">Inquiry #</th>
      <th class="no-sort desktop text-right" data-name="order_number">Order #</th>
      <th class="no-sort desktop" data-name="company_name">Company</th>
      <th class="no-sort desktop text-right">Line Items</th>
      <th class="no-sort desktop" data-name="status">Status</th>
      <th class="no-sort desktop" data-name="inside_sales_executive" data-toggle="tooltip" title="Inside Sales & Procurement">IS&P</th>
      <th class="no-sort desktop" data-name="outside_sales_executive" data-toggle="tooltip" title="Outside Sales & Procurement">OS
        Owner
      </th>
      <th class="no-sort desktop">Proof of Delivery</th>
      <th class="sort desktop text-right" data-name="mis_date">Invoice Date</th>
      <th class="sort desktop text-right" data-name="created_at">Created At</th>
    <% end %>
    <% content_for :heading_buttons_internal_datatable, flush: true do %>
      <a href="#"></a>
    <% end %>
    <%= render 'shared/layouts/internal_datatable', entity: company, children: 'invoices' %>
  </div>
</div>
