<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :container_fluid, true %>

<div class="col-lg-12">
  <%= render partial: "shared/layouts/payment_dashboard_summary_box", locals: {} %>
</div>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all">Company Alias</th>
  <th class="no-sort all">Company Name</th>
  <th class="no-sort desktop" data-name="inquiry_number">Inquiry #</th>
  <th class="no-sort all" data-name="invoice_number">Invoice #</th>
  <th class="no-sort desktop" data-name="mis_date">Invoice Date</th>
  <th class="no-sort desktop">GRN#</th>
  <th class="no-sort desktop">Invoice Payment Terms</th>
  <th class="no-sort desktop" >Amount Invoiced</th>
  <th class="no-sort desktop" >Amount Received</th>
  <th class="no-sort desktop" >Amount Outstanding</th>
  <th class="no-sort desktop" >Due Date</th>
  <th class="no-sort desktop" >Overdue (In Days)</th>
  <th class="no-sort desktop" >Customer PO #</th>
  <th class="no-sort desktop" >Customer PO Date</th>
  <th class="no-sort desktop" >Customer Billing Name</th>
  <th class="no-sort desktop" >Customer Shipping Name</th>
<% end %>
<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>