<p>Dear <%= @activity&.created_by&.full_name %></p>

<p>Due to inactivity for more than 24 hours, your activity AC #<%= @activity.inquiry&.inquiry_number %> status was changed to “Overdue”. </p>

<p>Click <%= link_to "here", edit_overseers_activity_url(@activity) %> to update the activity. </p>

<p>Thank you.</p>