<%#js file -----> clickOnCompose.js %>
<div class="modal fade bmro-compose" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close bmro-modal-close" data-dismiss="modal"><span class="bmro-close-icon"></span></button>
        <div class="bmro-width100 bmro-padding-email">
          <div id="email_message"></div>
        </div>
      </div>
    </div>
  </div>
</div>
