<div id="revise-committed-delivery-date" class="modal hide fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update followup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for([:overseers, obj], :url => url, :html => {:class => 'needs-validation p-2', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
        <div class="modal-body">
          <div class="error text-red mb-3 px-1 rounded"></div>
          <div class="form-group mt-1">
            <%= f.input :revised_committed_delivery_date, as: :string, :label => 'Revised Committed Delivery Date', input_html: {:'data-toggle' => 'datepicker'} %>
          </div>
          <div class="form-group mt-1">
            <%= f.input :revised_committed_delivery_attachments, wrapper: :custom_file, input_html: {multiple: true}, label: 'Delivery Date Revision Attachment' %>
            <%# f.object.revised_committed_delivery_attachments.attachments.each do |attachment| %>
            <%#= link_to url_for(attachment), class: 'ml-md-1 btn btn-success', target: '_blank', :"data-toggle" => 'tooltip', :status => attachment.filename do %>
            <!--                <i class="fal fa-download"></i>-->
            <%#= link_to url_for(attachment), class: 'btn btn-outline-danger btn-sm ml-1 mr-1 mr-md-0', method: :delete, data: {confirm: 'Are you sure?'}, :"data-toggle" => 'tooltip', :status => ['Delete', ' ', attachment.filename, '?'].join('') do %>
            <!--                  <i class="fal fa-trash-alt"></i>-->
            <%# end if attachment.present? && is_authorized(:attachment, 'destroy') && policy(:attachment).destroy? %>
            <%# end %>
            <%# end if f.object.revised_committed_delivery_attachments.attached? %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-block confirm">Apply</button>
        </div>
        <div class="card">
          <% if f.object.comments.persisted.size > 0 %>
            <div class="card-body">
              <h6 class="text-uppercase text-black-50 mb-1">Comments</h6>
              <div class="chats">
                <% f.object.comments.persisted.where(revised_committed_delivery_date: true).order(created_at: :desc).each do |comment| %>
                  <%= format_comment(comment) %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
