
  <div class="bmro-slide-on-inquries">
    <div class="bmro-width100 bmro-close-right-slide-fix">

      <span class="bmro-close-order-slide bmro-close-icon"></span>
    </div>

    <div id="status-record-div"></div>
  </div>

  <div class="bmro-slide-order-no">
    <div class="bmro-width100 bmro-close-right-slide-fix">
      <span class="bmro-close-order-slide bmro-close-icon"></span>
    </div>
    <div class="bmro-width100 bmro-position-relative">
      <span class="bmro-small-heading bmro-width100">Company Name</span>
      <h5 class="bmro-big-heading-two">Abbott Healthcare Pvt. Ltd</h5>
    </div>
    <div class="bmro-width100">
      <span class="bmro-small-heading bmro-width100 bmro-mt-5">Inquiry No.</span>
      <div class="bmro-fl">
        <h5 class="bmro-big-heading-two bmro-mt-5 bmro-fl bmro-wdith-auto bmro-menu dropdown-toggle">
          #45567
          <span class="bmro-menu-dropdown bmro-left-left bmro-drop-icon-head bmro-slide-icon"></span>
        </h5>
        <div class="dropdown-menu">
          <a class="bmro-dropdown-item bmro-new-size" href="#">Inquiry 1</a>
          <a class="bmro-dropdown-item bmro-new-size" href="#">Inquiry 2</a>
        </div>
      </div>
      <div class="bmro-fl">
        <a href="#" class="bmro-action-button bmro-fl bmro-action-button bmro-fr dropdown-toggle">Abbott Healthcare Pvt. Ltd
          <span class="bmro-menu-dropdown bmro-button-drop-compos"></span>
        </a>
        <div class="dropdown-menu">
          <a class="bmro-dropdown-item" href="#">Display Option 1</a>
          <a class="bmro-dropdown-item" href="#">Display Option 2</a>
          <a class="bmro-dropdown-item" href="#">Display Option 3</a>
        </div>
      </div>
    </div>
    <div class="bmro-width100">
      <span class="bmro-small-heading bmro-width100 bmro-mt-5">Order No.</span>
      <h5 class="bmro-big-heading-two bmro-mt-5 bmro-fl bmro-wdith-auto bmro-menu dropdown-toggle" id="order-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#122334
        <span class="bmro-item-list">(Item List)</span>
        <span class="bmro-menu-dropdown bmro-left-left bmro-drop-icon-head bmro-slide-icon"></span>
      </h5>
      <div class="dropdown-menu">
        <a class="bmro-dropdown-item bmro-new-size" href="#">Inquiry 1</a>
        <a class="bmro-dropdown-item bmro-new-size" href="#">Inquiry 2</a>
      </div>
      <span class="bmro-status-label bmro-account-lable-color">Partialy Delivered(Logistics)</span>
    </div>
    <div class="bmro-width100 bmro-product-mt">
      <div class="bmro-order-sr-no">
        <span class="bmro-small-heading">S.No</span>
      </div>
      <div class="bmro-order-sr-product">
        <span class="bmro-small-heading">Products</span>
      </div>
      <div class="bmro-width100 bmro-order-bd">
        <div class="bmro-order-sr-no bmro-sno-print">01</div>
        <div class="bmro-order-sr-product bmro-product-print">
          BM9V7Z4 - Aggregator Service- The Metropole Hotel Bill WBSEA0-004902-1114 Project- Torrent Power PM- Ajay Rane
          <div class="bmro-width100 bmro-qty-mt-10">
            <span class="bmro-oty-lable">Qty.</span>
            <span class="bmro-oty-no">1/1</span>
            <span class="bmro-oty-lable">Status:</span>
            <span class="bmro-status-print">Delivered</span>
          </div>
        </div>
      </div>
      <div class="bmro-width100 bmro-order-bd">
        <div class="bmro-order-sr-no bmro-sno-print">02</div>
        <div class="bmro-order-sr-product bmro-product-print">
          BM9V7Z4 - Aggregator Service- The Metropole Hotel Bill WBSEA0-004902-1114 Project- Torrent Power PM- Ajay Rane
          <div class="bmro-width100 bmro-qty-mt-10">
            <span class="bmro-oty-lable">Qty.</span>
            <span class="bmro-oty-no">1/1</span>
            <span class="bmro-oty-lable">Status:</span>
            <span class="bmro-status-print">Delivered</span>
          </div>
        </div>
      </div>
      <div class="bmro-width100 bmro-order-bd">
        <div class="bmro-order-sr-no bmro-sno-print">03</div>
        <div class="bmro-order-sr-product bmro-product-print">
          BM9V7Z4 - Aggregator Service- The Metropole Hotel Bill WBSEA0-004902-1114 Project- Torrent Power PM- Ajay Rane
          <div class="bmro-width100 bmro-qty-mt-10">
            <span class="bmro-oty-lable">Qty.</span>
            <span class="bmro-oty-no">1/1</span>
            <span class="bmro-oty-lable">Status:</span>
            <span class="bmro-status-print">Delivered</span>
          </div>
        </div>
      </div>
      <div class="bmro-width100 bmro-order-bd">
        <div class="bmro-order-sr-no bmro-sno-print">04</div>
        <div class="bmro-order-sr-product bmro-product-print">
          BM9V7Z4 - Aggregator Service- The Metropole Hotel Bill WBSEA0-004902-1114 Project- Torrent Power PM- Ajay Rane
          <div class="bmro-width100 bmro-qty-mt-10">
            <span class="bmro-oty-lable">Qty.</span>
            <span class="bmro-oty-no">1/1</span>
            <span class="bmro-oty-lable">Status:</span>
            <span class="bmro-status-print">Delivered</span>
          </div>
        </div>
      </div>
      <div class="bmro-width100 bmro-order-bd">
        <div class="bmro-order-sr-no bmro-sno-print">05</div>
        <div class="bmro-order-sr-product bmro-product-print">
          BM9V7Z4 - Aggregator Service- The Metropole Hotel Bill WBSEA0-004902-1114 Project- Torrent Power PM- Ajay Rane
          <div class="bmro-width100 bmro-qty-mt-10">
            <span class="bmro-oty-lable">Qty.</span>
            <span class="bmro-oty-no">1/1</span>
            <span class="bmro-oty-lable">Status:</span>
            <span class="bmro-status-print">Delivered</span>
          </div>
        </div>
      </div>
      <div class="bmro-width100 bmro-order-bd">
        <div class="bmro-order-sr-no bmro-sno-print">06</div>
        <div class="bmro-order-sr-product bmro-product-print">
          BM9V7Z4 - Aggregator Service- The Metropole Hotel Bill WBSEA0-004902-1114 Project- Torrent Power PM- Ajay Rane
          <div class="bmro-width100 bmro-qty-mt-10">
            <span class="bmro-oty-lable">Qty.</span>
            <span class="bmro-oty-no">1/1</span>
            <span class="bmro-oty-lable">Status:</span>
            <span class="bmro-status-print">Delivered</span>
          </div>
        </div>
      </div>
    </div>
  </div>