<%=render partial: "account_dashboard_css" %>
<% provide :container_fluid, true %>

<div class="bmro-width100">
  <%= render partial: "left_panel_dashboard"%>
  <%= render partial: "side_notification_panel"%>
</div>




