<div class="row">
   <div class="col-6" style='margin: 0px; padding: 0px'>
      <div class=''>
         <div class='card' style='height: 45vh; width: 100%; '>
            <div class='card-body'>
              <h4 style='font-size: 1rem'>Inquiry count by status</h4>
              <%= pie_chart @data[:data], @data[:options] %>
            </div>
         </div>
         <div class='card' style='height: 45vh; width: 100%; '>
            <div class='card-body'>
              <h4 style='font-size: 1rem'>Inquiry count by location</h4>
              <%= pie_chart @data_location[:data], @data_location[:options] %>
            </div>
         </div>
      </div>
   </div>
   <div class="col-4">
      <div class=''>
         <div class='card' style='height: 90vh'>
            <div class='card-body'>
              <h4 style='font-size: 1rem'>Inquiry count by ISP & status</h4>
              <%= horizontal_bar_chart @data_bar[:data], @data_bar[:options] %>
            </div>
         </div>
      </div>
   </div>
   <div class="col-2">
      <div class='' style='height: 90vh; overflow-x: scroll;'>
         <ul class="list-unstyled">
           <% 10.times do %>
            <li >
              <div class='card'>
                 <div class='card-body'>
                  <h2><%= rand(10..20) %>K</h2>
                  <p>Inquiries Count</p>
                 </div>
              </div>
            </li>
           <% end %>
         </ul>  
      </div>
   </div>
</div>