<% provide :container_fluid, true %>


<%= render partial: "left_panel_dashboard"%>

<div class="modal fade bmro-compose" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close bmro-modal-close" data-dismiss="modal"><span class="bmro-close-icon"></span></button>
        <div class="bmro-width100 bmro-padding-email">
          <div id="email_message"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <%= link_to('Follow up Dashboard >>', follow_up_dashboard_overseers_dashboard_path, target: '_blank', class: 'bmro-button mt-2') %>
</div>





