<% provide :container_fluid, true %>

<div class="bmro-width100">
  <%= render partial: "left_panel_dashboard"%>
  <%= render partial: "side_notification_panel"%>
</div>

<div class="row">
  <%= link_to('Follow up Dashboard >>', follow_up_dashboard_overseers_dashboard_path, target: '_blank', class: 'bmro-button mt-2') %>
</div>





