<p>Dear <%= @overseer.name %> </p>

<p>Greetings,</p>

<p>This is a notification to inform you that the import of products has been completed. Please find attached a report of the import process, including a list of any unsuccessful uploads.</p>

<p>If you have any concerns or need further information, please reach out to our support team.</p>

<p>Thank you for your cooperation and support.</p>

<p>Best regards,</p>

<p>Tech Team</p>