<%= render layout: 'overseers/inquiries/tabs_layout' do %>
  <% provide :hide_table_desc, true %>
  <% provide :hide_table_heading, true %>

  <div class="col-lg-12 mb-12">
    <% content_for :header_row do %>
      <th>Created</th>
      <th>Created By</th>
      <th>Actions</th>
    <% end %>

    <%= render layout: 'shared/layouts/datatable' do %>
    <% end %>
  </div>
<% end %>
