<%= render layout: 'overseers/inquiries/tabs_layout' do %>
  <% provide :hide_table_desc, true %>
  <% provide :hide_table_heading, true %>

  <a href="<%= new_overseers_inquiry_sales_order_path(@inquiry) %>" class="d-sm-block btn btn-success btn-outline-dark btn-rounded align-self-center btn-block-sm-down">
    <i class="fal fa-plus-circle mr-1"></i>New Sales Order
  </a>

  <div class="col-lg-12 mb-12">
    <% content_for :header_row do %>
      <th>Created</th>
      <th>Created By</th>
      <th>Actions</th>
    <% end %>

    <%= render layout: 'shared/layouts/datatable' do %>
    <% end %>
  </div>
<% end %>
