<%= provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<% content_for :header_row do %>
  <th class="no-sort all" width="98px">Quick Actions</th>
  <th class="no-sort desktop text-right">Inquiry No.#</th>
  <th class="no-sort desktop text-left">Customer Name</th>
  <th class="no-sort all text-left" data-name="sku" data-toggle="tooltip" title="Inside Sales & Procurement">IS&P</th>
  <th class="no-sort desktop">Is SEZ</th>
  <th class="no-sort all text-left">Branch</th>
  <th class="no-sort all text-left">Currency</th>
  <th class="sort desktop text-left" data-name="created_at">Created At</th>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>