<% provide :can_be_ajaxed, true %>

<% content_for :header_row do %>
  <th>Created At</th>
  <th>Created By</th>
  <th>Inquiry</th>
  <th>Actions</th>
<% end %>

<div class="col-lg-11">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>