<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :use_url_as_page_title, true %>
<% provide :show_date_filter, true %>
<% content_for :heading do %>
  Orders
<% end %>


<%= render partial: 'customers/sales_orders/order_filters' %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all" data-name="order_number">Order #</th>
  <th class="no-sort all " data-name="created_at">Order Date</th>
  <th class="no-sort all" data-name="customer_po_number">PO #</th>
  <th class="no-sort all " data-name="cp_order_date">PO Date</th>
  <th class="no-sort all" data-name="inquiry_number">Inquiry #</th>
  <th class="no-sort desktop " data-name="cp_ship_to">User</th>
  <th class="no-sort desktop" data-name="">Order Total</th>
  <th class="no-sort desktop " data-name="customer_committed_date">Expected Delivery Date</th>
  <th class="no-sort desktop " data-name="">Actual Delivery Date</th>
  <th class="no-sort desktop " data-name="order_status">Order Status</th>
  <th class="no-sort all text-left" data-name="created_at">Created</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="ajax"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="daterange"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>
