<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :use_url_as_page_title, true %>
<% content_for :heading do %>
  Orders
<% end %>

<% provide :heading_buttons do %>
  <div class="btn-group">
    <% if current_company.id == 1847 %>
      <a href="#modal-window" class="btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1 mb-md-0 mb-1 message-in-order" data-toggle="modal" title="All sales orders"><i class="fal fa-download mr-1"></i>Orders</a>
      <%= form_tag export_all_customers_orders_path(format: :csv), method:'get', class:'my-2 form-row' do %>
      <div class="message-in-order">
        <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
<!--              <h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
<!--            <div class="modal-body">-->
<!--              *Modal content comes here*-->
<!--            </div>-->
                <div class="col-md-10">
                  <div class="form-group">
                    DATE RANGE:<input type="text" id="daterange" name="daterange" class="form-control" data-toggle="daterangepicker" data-direction="right" placeholder="Pick a daterange">
                    AMOUNT:<input type="text" id="text" name="Amount" class="form-control" >
                  </div>
                </div>
              <div class="modal-footer">
                <div class="col-md-2">
                  <%= submit_tag "Apply", class: "btn btn-sm btn-block btn-success"%>
                </div>
<!--              <button class="btn btn-primary">Save</button>-->
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  <% end %>

  <% else %>
      <a href="<%= export_all_customers_orders_path(format: :csv) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1 mb-md-0 mb-1" data-toggle="tooltip" title="All sales orders"><i class="fal fa-download mr-1"></i>Orders</a>
  <% end %>
  </div>

<% end %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all" data-name="order_number">Order #</th>
  <th class="no-sort desktop" data-name="created_at">Order Date</th>
  <th class="no-sort desktop" data-name="">PO #</th>
  <th class="no-sort desktop" data-name="">PO Date</th>
  <th class="no-sort all" data-name="order_number">Inquiry #</th>
  <th class="no-sort desktop" data-name="cp_ship_to">Ship To</th>
  <th class="no-sort desktop" data-name="">Company</th>
  <th class="no-sort desktop" data-name="">Order Total</th>
  <th class="no-sort desktop" data-name="">Expected Delivery Date</th>
  <th class="no-sort desktop" data-name="">Actual Delivery Date</th>
  <th class="no-sort desktop" data-name="cp_status">Order Status</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="ajax"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="dropdown"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>