<div class="col-12" style="margin-top: 50px;">
  <div class="card mb-3">
    <div class="card-body">
      <div class="text-left">
        <p class="text-uppercase text-black-50 mb-0" style="font-size: 20px;"><strong>Total Products</strong></p><h3 class="mb-0"><%= @total_products %></h3>
      </div>

      <div class="text-left">
        <p class="text-uppercase text-black-50 mt-3"><strong>Most Ordered Products</strong>
        <div class="list-group list-group-flush">
            <% @most_ordered_products.each do |product, count| %>
              <div  class="list-group-item list-group-item-action p-1">
                <span class="float-right"><%= count %></span>
                <strong><%= product.name.truncate(40) %></strong>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a href="<%= customers_products_path %>" class="btn btn-lg btn-block btn-info"><i class="fal fa-eye mr-1"></i> View More</a>
    </div>
  </div>
</div>
