<% provide :container_fluid, true %>

<div class="bmro-width100">
  <%= render partial: "overseers/dashboard/common/left_panel_dashboard", locals: { executivelink: true } %>
  <%= render partial: "overseers/dashboard/common/side_notification_panel", locals: { executivelink: true } %>
</div>

<% if current_overseer.inside_sales_executive? %>
  <div class="row">
    <%= link_to('Follow up Dashboard >>', follow_up_dashboard_overseers_dashboard_path, target: '_blank', class: 'bmro-button mt-2') %>
  </div>
<% end %>





