<%= provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="all" data-name="name">Name</th>
  <th class="no-sort desktop">Company</th>
  <th class="no-sort desktop">Inquiry</th>

<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>
