<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :can_be_directly_exported, true %>
<% provide :can_be_directly_exported_filtered_records, true %>
<% provide :wrap_whitespace, true %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all" data-name="name">Name</th>
  <th class="no-sort all" data-name="account_id">Account</th>
  <th class="no-sort all" data-name="nature_of_business">Supplier Type</th>
  <th class="no-sort desktop">Default Billing Address</th>
  <th class="no-sort desktop">Contact</th>
  <th class="no-sort all">Rating</th>
  <th class="sort desktop text-right" data-name="purchase_orders_count">No. of POs</th>
  <th class="sort desktop text-right" data-name="supplied_brands_count">No. of Brands</th>
  <th class="sort desktop text-right" data-name="supplied_products_count">No. of Products</th>
  <th class="no-sort desktop" data-name="brand_names">Brands</th>
  <th class="desktop text-right" data-name="created_at">Created</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="ajax"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>
<!--required for render review form-->
<!--<div class="modal-render"></div>-->
<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>

