<!-- Add products sort -->
<div class="dropdown px-2">
  <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
    Sort
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="<%= customers_products_path(view: params[:view]) %>">Clear sort</a>
    <a class="dropdown-item" href="<%= customers_products_path(sort: 'inquiries', view: params[:view]) %>">Most popular</a>
  </div>
</div>
<!-- end products sort -->