<div class="col-lg-12 col-md-12 my-2 my-lg-5">
  <div class="d-md-flex justify-content-between">
    <h3 class="mb-1"><%= request.path.split('/').last.titleize %></h3>

    <% if content_for?(:heading_button) %>
      <%= yield :heading_button %>
    <% end %>
  </div>

  <%= yield %>
</div>