<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :can_be_directly_export_by_daterange, true %>
<% provide :can_be_directly_created, true %>
<% provide :can_be_directly_exported_filtered_records, true %>
<% provide :wrap_whitespace, true %>

<% provide :heading_buttons do %>
  <% if policy(:activity).add_to_inquiry? %>
    <div class="mr-2 d-block d-md-inline-block export_daterange_wrapper">
      <%= select_tag :inquiry, '', class: 'select2-ajax select2-wrap add_to_inquiry_wrapper', 'data-source' => autocomplete_overseers_inquiries_path, include_blank: 'Choose an Inquiry to Assign to Activity', id: 'inquiry_select' %>
    </div>
    <button type="button" id="add_to_inquiry" class="mt-md-0 mt-1 mr-2 btn btn-warning btn-rounded align-self-center btn-block-sm-down mb-md-0 mb-1 add_to_inquiry_wrapper">
      <i class="fal fa-plus mr-1"></i>Add to Inquiry
    </button>
  <% end %>
<% end %>

<div class="col-lg-12">
  <a class="btn btn-light text-left btn-lg btn-block mt-2 mt-lg-4" type="button" data-toggle="collapse" data-target="#summary">
    Activities Summary
  </a>

  <div id="summary" class="collapse">
    <div class="form-row mt-2">
      <% Activity.activity_types.each do |activity_type, v| %>
        <div class="col-md-2">
          <div class="card mb-2 mb-md-3">
            <div class="card-body">
              <div class="text-center">
                <p class="text-uppercase text-black-50 mb-1"><strong><%= format_enum(activity_type) %></strong></p>
                <h3 class="mb-0"><%= number_with_delimiter(Activity.send(activity_type).size, options = {}) %></h3>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :header_row do %>
  <th class="no-sort all">
    <% if policy(:activity).perform_actions? %>
      <div class="custom-control custom-checkbox d-none d-md-block">
        <input type="checkbox" class="custom-control-input" name="all_activities" id="all_activities">
        <label class="custom-control-label" for="all_activities">Select All</label>
      </div>
    <% end %>
  </th>
  <th class="no-sort all" data-name="created_by_id">Created By</th>
  <th class="sort all text-right" data-name="activity_date">Activity Date</th>
  <th class="no-sort" data-name="account_id">Account</th>
  <th class="no-sort" data-name="company_id">Company</th>
  <th class="no-sort">Company Creation Request Status</th>
  <th class="sort desktop text-right" data-name="inquiry_number">Inquiry</th>
  <th class="no-sort">Commercial Status</th>
  <th class="no-sort" data-name="contact_id">Contact Name</th>
  <th class="no-sort" data-name="purpose_id">Purpose</th>
  <th class="no-sort" data-name="activity_type_id">Type</th>
  <th class="no-sort text-right">Misc. Expenses</th>
  <th class="no-sort">Points Discussed</th>
  <th class="no-sort">Actions Required</th>
  <th class="desktop text-right" data-name="created_at">Created</th>
<% end %>
<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="daterange"></td>
  <td data-filter="ajax"></td>
  <td data-filter="ajax"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="ajax"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="daterange"></td>
<% end %>
<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>
