<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :can_be_directly_created, true %>

<% provide :heading_buttons do %>

  <% if policy(:activity).add_to_inquiry? %>
    <div class="mr-2 float-left add_to_inquiry_wrapper">
    <%= select_tag :inquiry, '', class: 'select2-ajax select2-wrap add_to_inquiry_wrapper', 'data-source' => autocomplete_overseers_inquiries_path, include_blank: 'Choose an Inquiry to Assign to Activity', id: 'inquiry_select' %>
</div>
    <button type="button" id="add_to_inquiry" class=" btn btn-warning btn-rounded align-self-center btn-block-sm-down ml-1 mb-md-0 mb-1 add_to_inquiry_wrapper">
      <i class="fal fa-plus mr-1"></i>Add to Inquiry
    </button>
  <% end %>
<% end %>

<div class="col-lg-12">
  <div class="row mt-3 mt-lg-4">
    <% Activity.activity_types.each do |activity_type, v| %>
      <div class="col-md-2">
        <div class="card mb-3">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase text-black-50 mb-1"><strong><%= format_enum(activity_type) %></strong></p>
              <h3 class="mb-0"><%= Activity.send(activity_type).size %></h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<% content_for :header_row do %>
  <th class="no-sort">
    <% if policy(:activity).perform_actions? %>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="all_activities" id="all_activities">
        <label class="custom-control-label" for="all_activities">Select All</label>
      </div>
    <% end %>
  </th>
  <th class="no-sort">Created By</th>
  <th class="no-sort">Account</th>
  <th class="no-sort">Company</th>
  <th data-name="activity_type">Is Supplier</th>
  <th data-name="activity_type">Is Customer</th>
  <th class="no-sort">Company Creation Request Status</th>
  <th class="no-sort text-right">Inquiry</th>
  <th class="no-sort">Commercial Status</th>
  <th class="no-sort">Contact Name</th>
  <th data-name="purpose">Purpose</th>
  <th data-name="activity_type">Type</th>
  <th class="no-sort">Daily Allowance</th>
  <th class="no-sort">Points Discussed</th>
  <th class="no-sort">Actions Required</th>
  <th data-name="activity_date">Date</th>
  <th class = "desktop text-right" data-name="created_at">Created</th>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>
