<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<% content_for :heading do %>
  Pending Activities
<% end %>

<% provide :heading_buttons do %>
  <% if policy(:activity).approve_selected? %>
    <button type="button" id="approve_selected" class=" btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1 mb-md-0 mb-1">
      <i class="fal fa-check mr-1"></i>Approve Selected
    </button>
  <% end %>
  <% if policy(:activity).reject_selected? %>
    <button type="button" id="reject_selected" class=" btn btn-danger btn-rounded align-self-center btn-block-sm-down ml-1 mb-md-0 mb-1">
      <i class="fal fa-times mr-1"></i>Reject Selected
    </button>
  <% end %>
<% end %>

<% content_for :header_row do %>
  <th class="no-sort">
    <% if policy(:activity).perform_actions? %>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="all_activities" id="all_activities">
        <label class="custom-control-label" for="all_activities">Select All</label>
      </div>
    <% end %>
  </th>
  <th class="no-sort" data-name="created_by_id">Created By</th>
  <th class="no-sort text-right" data-name="activity_date">Activity Date</th>
  <th class="no-sort" data-name="account_id">Account</th>
  <th class="no-sort" data-name="company_id">Company</th>
  <th class="no-sort text-right" data-name="activity_type">Is Supplier</th>
  <th class="no-sort text-right" data-name="activity_type">Is Customer</th>
  <th class="no-sort">Company Creation Request Status</th>
  <th class="no-sort text-right" data-name="inquiry_number">Inquiry</th>
  <th class="no-sort" data-name="contact_id">Contact Name</th>
  <th data-name="purpose_id">Purpose</th>
  <th data-name="activity_type_id">Type</th>
  <th class="no-sort text-right">Misc Expenses</th>
  <th class="no-sort">Points Discussed</th>
  <th class="no-sort">Actions Required</th>
  <th class="no-sort text-right">Created</th>
<% end %>


<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="ajax"></td>
  <td data-filter="ajax"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="ajax"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>
