<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :container_fluid, true %>

<div class="col-lg-12 bmro-table-layout">
  <% content_for :header_row do %>
    <th class="no-sort all" width="98px"> Quick Actions</th>
    <th class="no-sort all" width="90px" data-name="account_id">Company Alias</th>
    <th class="no-sort all" width="150px" data-name="company_id">Company</th>
    <th class="sort all" width="80px" data-name="invoice_number">Invoice Number</th>
    <th class="sort all" width="70px" data-name="invoice_date">Invoice date</th>
    <th class="sort all" width="80px" data-name="invoice_date">Receipt Number</th>
    <th class="sort all" width="70px" data-name="receipt_date">Receipt date</th>
    <th class="no-sort all" width="90px"  data-name="payment_type">Receipt Type</th>
    <th class="no-sort all" width="60px" data-name="payment_method">Payment Method</th>
    <th class="no-sort all" width="50px" data-name="currency_id">Currency</th>
    <th class="sort all" width="90px" data-name="payment_received_amount">Received Amount</th>
    <th class="sort all" width="95px" data-name="reference_number">Reference Number</th>
    <th class="no-sort all" width="230px" data-name="comments">Comments</th>
    <th class="sort desktop" width="60px" data-name="created_at">Created At</th>
  <% end %>
  <% content_for :filter_row do %>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="ajax"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="daterange"></td>
  <% end %>
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>