<div class="tab-pane fade active show" id="contacts" role="tabpanel">
  <% content_for :ajax_url, flush: true do %>
    <%= overseers_contacts_path(company_id: company.id, via_company_contacts: true) %>
  <% end %>
  <% content_for :header_row, flush: true do %>
    <th class="no-sort all" width="98px">Quick Actions</th>
    <th class="all" data-name="name">Name</th>
    <th class="all" data-name="email">Email</th>
    <th class="all" data-name="account_id">Account</th>
    <th class="all" data-name="account_id">Role</th>
    <th class="no-sort desktop text-right">Inquiry</th>
    <th class="desktop text-right" data-name="created_at">Created</th>
  <% end %>
  <% content_for :heading_buttons, flush: true do %>
    <% if is_authorized(:contact, 'new') && is_authorized(company, 'new_contact') %>
      <a href="<%= new_overseers_contact_path(company_id: company.to_param) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down mb-2 mb-md-0 bmro-button"><i class="fal fa-plus-circle mr-1"></i>New
        Contact</a>
    <% end %>
  <% end %>
  <%= render 'shared/layouts/internal_datatable', entity: company, children: 'contacts' %>
</div>
