<div style="border:1px solid; border-radius: 5px;padding: 2px">
  <% if record&.present? && record&.legacy_id&.to_i == 12 %>
    <table style="width: 100%;" cellspacing="0" border="0">
      <tr>
        <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
          <font color="#f58220">Bulk MRO Industrial Supply Inc. </font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000">14825 Botany Way, North Potomac, </font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000"> MD, 20878-4205, EIN: 81-4695336, USA</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font style="position: relative;top: -5px;" color="#000000">Website: www.bulkmro.com
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email:
            sales@bulkmro.com</font></td>
      </tr>
    </table>
  <% elsif record&.legacy_id&.to_i == 16 || record&.legacy_id&.to_i == 3 %>
    <table style="width: 100%;" cellspacing="0" border="0">
      <tr>
        <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
          <font color="#f58220">Bulk MRO Industrial Supply Pvt. Ltd.</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font color="#000000">C/O Expeditors International (India) Pvt. Ltd., Shree Sai Corporation, Building No.C1
            Mumbai Nashik Highway,<br>Next to Sangrila Resort, Opp. R.K. Petrol Pump, Borivli (Kuksha) Village Bhiwandi,
          </font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000"> Thane 421302, Maharashtra, India</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font style="position: relative;top: -5px;" color="#000000">Telephone: +91-22-4921-4921
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Website:
            www.bulkmro.com
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email:
            sales@bulkmro.com</font></td>
      </tr>

    </table>
  <% elsif (record&.legacy_id&.to_i == 4 || record&.legacy_id&.to_i == 15) %>
    <table style="width: 100%;" cellspacing="0" border="0">
      <tr>
        <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
          <font color="#f58220">Bulk MRO Industrial Supply Pvt. Ltd.</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font color="#000000">45 Dev Priya 1, Besides Seema Hall, Front of Nataraj Medical Store, <br>Anand Nagar
            Road,
            Satellite
          </font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000"> Ahmedabad 380015, Gujarat, India</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font style="position: relative;top: -5px;" color="#000000">Telephone: +91-22-4921-4921
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Website:
            www.bulkmro.com
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email:
            sales@bulkmro.com</font></td>
      </tr>
    </table>
  <% elsif (record&.legacy_id&.to_i == 7) %>
    <table style="width: 100%;" cellspacing="0" border="0">
      <tr>
        <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
          <font color="#f58220">Bulk MRO Industrial Supply Pvt. Ltd.</font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000">18, Deluxe, 664 Altamount Road,</font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000"> Mumbai 400026, Maharahstra, India</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font style="position: relative;top: -5px;" color="#000000">Telephone: +91-22-4921-4921
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Website:
            www.bulkmro.com
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email:
            sales@bulkmro.com</font></td>
      </tr>
    </table>
  <% elsif (record&.legacy_id&.to_i == 10) %>
    <table style="width: 100%;" cellspacing="0" border="0">
      <tr>
        <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
          <font color="#f58220">Bulk MRO Industrial Supply Pvt. Ltd.</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font color="#000000">Off - I - 46/6, Phase - 3, Naroda - GIDC Opp Mazda Limited,<br>Near Nana Chiloda Chokdi
          </font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000"> Ahmedabad 382330, Gujarat, India</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font style="position: relative;top: -5px;" color="#000000">Telephone: +91-22-4921-4921
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Website:
            www.bulkmro.com
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email:
            sales@bulkmro.com</font></td>
      </tr>
    </table>
  <% elsif (record&.legacy_id&.to_i == 11) %>
    <table style="width: 100%;" cellspacing="0" border="0">
      <tr>
        <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
          <font color="#f58220">Bulk MRO Industrial Supply Pvt. Ltd.</font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000">C-6B, 156 Janakpuri,
        </font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000"> New Delhi 110058, Delhi, India</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font style="position: relative;top: -5px;" color="#000000">Telephone: +91-22-4921-4921
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Website:
            www.bulkmro.com
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email:
            sales@bulkmro.com</font></td>
      </tr>
    </table>
  <% elsif (record&.legacy_id&.to_i == 13 || record&.legacy_id&.to_i == 17) %>
    <table style="width: 100%;" cellspacing="0" border="0">
      <tr>
        <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
          <font color="#f58220">Bulk MRO Industrial Supply Pvt. Ltd.</font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000">713 Dev Prime, Prahalad Nagar Corporate Road,
        </font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000"> Ahmedabad 380051, Gujarat, India</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font style="position: relative;top: -5px;" color="#000000">Telephone: +91-22-4921-4921
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Website:
            www.bulkmro.com
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email:
            sales@bulkmro.com</font></td>
      </tr>
    </table>
  <% elsif (record&.legacy_id&.to_i == 18) %>
    <table style="width: 100%;" cellspacing="0" border="0">
      <tr>
        <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
          <font color="#f58220">Bulk MRO Industrial Supply Pvt. Ltd.</font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000">S-2, 2nd Floor, Okhla Phase-II,
        </font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000"> New Delhi 110020, Delhi, India</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font style="position: relative;top: -5px;" color="#000000">Telephone: +91-22-4921-4921
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Website:
            www.bulkmro.com
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email:
            sales@bulkmro.com</font></td>
      </tr>
    </table>
  <% elsif (record.remote_uid.present?) %>
    <table style="width: 100%;" cellspacing="0" border="0">
      <tr>
        <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
          <font color="#f58220">Bulk MRO Industrial Supply Pvt. Ltd.</font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000">
          <%= record.address.street1 %>  <%= record.address.street2 %>
        </font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000">
          <%= record.address.footer %>
        </font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font style="position: relative;top: -5px;" color="#000000">Telephone: <%= record.address.telephone || '+91-22-4921-4921' %>
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Website:
            www.bulkmro.com
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email:
            sales@bulkmro.com</font></td>
      </tr>
    </table>


  <% else %>
    <table style="width: 100%;" cellspacing="0" border="0">
      <tr>
        <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
          <font color="#f58220">Bulk MRO Industrial Supply Pvt. Ltd.</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font color="#000000">2nd Floor, A Wing, Todi Estate, Sun Mill Compound, Lower Parel West, </font></td>
      </tr>
      <tr>
        <td style="text-align: center;"><font color="#000000"> Mumbai 400013, Maharashtra, India</font></td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <font style="position: relative;top: -5px;" color="#000000">Telephone: +91-22-4921-4921
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Website:
            www.bulkmro.com
            <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email:
            sales@bulkmro.com</font></td>
      </tr>
    </table>
  <% end %>
</div>