<%= render layout: 'shared/layouts/application', locals: {navigation: nil} do %>
  <div class="col-lg-4 col-md-5 my-5">
    <div class="text-center">
      <span class="display-4"><i class="fas fa-exclamation-triangle text-danger"></i></span>
      <h1 class="mb-1 mt-2 text-danger"><strong>Something went wrong</strong></h1>
      <p>We're sorry, but something has gone terribly wrong. We've logged this request and will be reviewing it as soon as possible.</p>
    </div>
  </div>

  <script src="https://browser.sentry-cdn.com/4.0.6/bundle.min.js" crossorigin="anonymous"></script>
  <script>
      Sentry.init({
          dsn: 'https://4fafea922f6346d198b8e8a74cecf9a0@sentry.io/1291091',
          beforeSend: (event) => {
              // Check if it is an exception -> Show report dialog
              event.exception && Sentry.showReportDialog();
              return event;
          }
      });
  </script>
<% end %>