<%= render layout: 'shared/layouts/application', locals: { navigation: nil } do %>
  <div class="col-lg-5 col-md-6 my-2 my-lg-5">
    <div class="text-center">
      <span class="h1"><i class="fal fa-hand-paper text-danger"></i></span>
      <h3 class="mb-1 mt-2 text-danger">Something went wrong</h3>
      <p>We're sorry, but something has gone terribly wrong. We've logged this request and will review it ASAP.
        <br><br>
        If you need help in the mean time, do not hesitate to call us on <a href="tel:+919932485761">+91 99324 85761</a>
        or drop us an email at <a href="mailto:care@bulkudhaar.com">care@bulkudhaar.com</a>.
      </p>
    </div>
  </div>
<% end %>