<% provide :container_fluid, true %>
<% provide :can_be_directly_created, policy(:delivery_challan).new? %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<%# if Settings.reports.show_summary %>
<!--<div class="col-lg-12">-->
<%#= render partial: "shared/layouts/summary", locals: {klass: Inquiry, statuses: Inquiry.statuses, alias_name: ''} %>
<!--</div>-->
<%# end %>

<div class="col-lg-12 bmro-table-layout">
  <% content_for :header_row do %>
    <th class="no-sort all" width="98px">Quick Actions</th>
    <th class="sort all text-right" width="78px" data-name="inquiry_number">Inquiry Number</th>
    <th class="no-sort text-right" width="88px" data-name="order_number">Order Number</th>
    <th class="no-sort desktop" width="88px">Order Qty</th>
    <th class="no-sort desktop" width="88px">DC Qty</th>
    <th class="sort desktop text-left" width="75px">DC Dates</th>
<!--    <th class="no-sort desktop" width="88px">AR Qty</th>-->
    <th class="no-sort desktop text-left" width="130px" data-name="company_id">Company</th>
    <th class="no-sort desktop text-left" width="130px">Billing Contact</th>
    <th class="no-sort desktop text-left" width="130px">Shipping Contact</th>
    <th class="no-sort desktop text-left" width="130px">DC Created By</th>
<!--    <th class="sort desktop text-left" width="75px">AR Dates</th>-->
<!--    <th class="sort desktop text-left" width="75px">POD received date</th>-->
  <% end %>

  <% content_for :filter_row do %>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
<!--    <td data-filter="false"></td>-->
    <td data-filter="ajax"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="dropdown"></td>
<!--    <td data-filter="false"></td>-->
<!--    <td data-filter="false"></td>-->
  <% end %>


  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>