<div class="col-lg-12">
  <% if params[:action] == "next_step" %>
    <% if @delivery_challan.purpose == 'Regular Flow' %>
      <%= render 'overseers/delivery_challans/regular_flow_form' %>
    <% else %>
      <%= render 'overseers/delivery_challans/sample_form' %>
    <% end %>
  <% else %>
    <%= render 'overseers/delivery_challans/primary_form_fields' %>
  <% end %>
</div>