
<%= render 'overseers/delivery_challans/show_summary' %>

<div class="form-row bmro-cp-inquiry-form-button justify-content-center mt-4">
  <div class="col-3">
    <%= link_to edit_overseers_delivery_challan_path(@delivery_challan), class: "dc-buttons btn btn-block btn-lg h-100" do %>
      Edit
    <% end %>
  </div>

  <div class="col-3">
    <%= link_to overseers_delivery_challan_path(@delivery_challan, preview: true), method: :patch, class: "dc-buttons btn btn-block btn-lg h-100" do %>
      Save
    <% end %>
  </div>
</div>
