<%= render 'overseers/delivery_challans/show_summary' %>

<div class="form-row bmro-cp-inquiry-form-button mt-4">
  <div class=" bmro-button-parent col-3">
    <%= button_tag(type: "submit", class: "btn btn-block btn-lg h-100") do %>
      <i class="bmro-update-icon"></i> Edit
    <% end %>
  </div>
  <div class=" bmro-button-parent col-3">
    <%= button_tag(type: "submit", class: "btn btn-block h-100") do %>
      <i class="bmro-update-icon"></i> Save
    <% end %>
  </div>
</div>
