<% @msg = [
    notification.message, '<br>',
    '<small>',
    'By', ' ' + notification.sender.name + ' ',
    '<strong class="mt-1 d-block">',
    time_ago_in_words(notification.created_at) + ' ' + 'ago',
    '</strong>',
    '</small>'
].join('') %>
<a class="dropdown-item <%= "unread-notification" if not notification.read_at? %>" href="<%= notification.action_url if notification.action_url.present? %>">
  <%= @msg.html_safe %>
</a>
<div class="dropdown-divider mx-1"></div>