<h2>Overview</h2>
<p>The Catalog Team is responsible for reviewing and approving the Company Creation Requests submitted by users. To approve a request, the Catalog Team needs to view the details of the company by clicking on the "View Request" button on the Quick Actions toolbar. From there, they can either approve or reject the request, depending on the information provided.</p>

<h2>Requirements</h2>
<p>To approve Company Creation Requests, users must have the necessary permissions and be part of the Catalog Team.</p>

<h2>Step-by-Step Instructions:</h2>
<ol>
<li>Navigate to the ‘Company Creations requests by clicking on the ‘B.Partners’ section of the Menu. Click on Requested to view only pending requests<br/>
<%= image_tag "trainings/a_cc_1.png", class: "training_img" %></li>
<li>A new page will appear as shown below<br/>
  <%= image_tag "trainings/a_cc_2.png", class: "training_img" %></li>
<li>Click on the "View Request" button on the Quick Actions toolbar to view the details of the company. A new tab will appear as shown below<br/>
<%= image_tag "trainings/a_cc_3.png", class: "training_img" %></li>
<li>Review the details of the company carefully, making sure all the required information is complete and accurate.</li>
<li>If everything looks good, click on the "Create Company" button to approve the request.</li>
<li>This will take you to a new page where you can edit any minor changes, if required, and save the details. The address and contact details will be auto-updated in each section.</li>
<li>If the request is not acceptable, click on the "Reject" button. This will ask you to select a reason for the rejection. If the selected reason is "Other," you can add a custom remark which will be recorded in the comments section.</li>
</ol>
<h2>Troubleshooting:</h2>
<p>If you encounter any issues while approving a request, contact the system administrator or the user who submitted the request for assistance.</p>
<h2>Feedback:</h2>
<p>We value your feedback on this feature. If you have any suggestions or issues to report, please contact our support team by submitting a helpdesk ticket here.</p>








