<h2>How to use the Customer Order Status Report?</h2>
<h3>Path to visit the page:</h3>
<ul>
   <li>Click on Menu</li>
   <li>Then select Reports</li>
   <li>Click on the ‘Customer Order Status Report’ page</p>
</ul>
<h3>What is the customer order status report?</h3>
<p>A summary of customer sales orders and its status sorted by sales order number and BM number. You can also select a custom date range to modify your results. </p>
<%= image_tag "trainings/reports1.png", class: "training_img" %>
<h3>How does it works?</h3>
<p>Select custom filters as given below -</p>
<ul>
   <li>
      <h4>Delivery status</h4>
      <ul>
         <li>All - By selecting this option you can view all of your orders in the selected date range</li>
         <li>Pending - By selecting this option you can view all the pending orders (not delivered) orders</li>
      </ul>
   </li>
   <li>
      <h4>Category</h4>
      <ul>
         <li>By BM - By selecting this option, you can view SKU wise distribution of all the orders. These results will describe the order status of each SKU.</li>
         <li>By Sales order - This option can provide sales order wise distribution to give an overview of the status</li>
      </ul>
   </li>
   <li>
      <h4>Pick a date range</h4>
      <ul>
         <li>You can select a custom data range by clicking on this filter
         </li>
      </ul>
   </li>
</ul>
<p>
   Once you apply all the above filters, click on the ‘Fetch Report’ button and your results will be displayed.
   <br/>To clear all the filters click on the ‘Reset Report’ button.
</p>