<ol>
    <li style="font-weight: bold;">
        <p><strong>What is an IT helpdesk?</strong></p>
    </li>
</ol>
<p>IT helpdesk is the platform where users can submit their issues, bugs, feedback related to the system (Sprint)</p>
<p><br></p>
<ol start="2">
    <li style="font-weight: bold;">
        <p><strong>Why use an IT helpdesk?</strong></p>
    </li>
</ol>
<p>You can use this platform to suggest improvements in the system or process. You can suggest new features that you might think will ease up the process. You can also report bugs and glitches in the system that needs to be fixed. You can also report the sync issues with SAP here.</p>
<p><br></p>
<ol start="3">
    <li style="font-weight: bold;">
        <p><strong>How to use the IT helpdesk?</strong></p>
        <ol style="font-weight: initial;">
            <li>
                <p><a href="https://forms.gle/xWsHFtQuNW1L1gyD6">Click Here</a> to fill a google form to submit your request. A google form will be opened in the new tab as shown below
                </p>
                <img src="https://lh6.googleusercontent.com/VxKH3ESTJOj56ONnk9gRo1TeYYOo1hhoOPzF9EYaUO1L0FMj8FE_Mr8dvLVRMgzNWbyCm5AL0M7kmZozVIaseEyT-Y7h1bFkYbab12KhtZFHk5izmaOea-OnL5e-6QNgFrhjOwz-d0Ux9hjH7dSmuwaAUH8esfVWpEU_TXaAn03gNqHJ3TqDseDP5kKo" width="460" height="249">
                
            </li>
            <li>
                <p>Fill your name, contact number and role/designation in the respective fields.
                </p>
                    <img src="https://lh3.googleusercontent.com/4tGJINqan82KIB-U4CNh70bsajox6ikG2WqtxOIkV4fh1yZQlQSMtQbQUinZdhYfWZZtDCBUv68eoxZkCtuXjc0_ySKJTJbmsvhR276xz1j3gU68RFoKasso-8xtyDTRH9x2afn2TQI6e7GkS_zi--HNJm889atSLXmYXmH5kf_G2iR8Aqq6JBeWhmWQ" width="624" height="493">
            </li>
    </li>
    <li>
        <p>Select your department from the given list. For example: Logistics - Inward
        </p>
            <img src="https://lh6.googleusercontent.com/Zkd_XJcTPJxGIBMUdrewoqqQtf07xDAzl7OifMsquP37mmn4ZbrD-dIiFx5kKuygK35dwsZ9ZyUH-o5i7k0UzgqbPDvuqTEqBh2M4ylaO6rftuUQtN4DiqL4qZ6lvR7HU1k02Z0H_Pjhij2QUSOmOyl-xCoyoVxTUgCy_VnMYHYwpFzH12wR8FkOSu8V" width="624" height="385">
    </li>
    <li>
        <p>Select a sprint module relevant to the issue you want to report. For example, if you wish to report a sync issue in the sales order, select Sales as a Sprint Module.</p>
    </li>
        <p>&nbsp;
        </p>
            <img src="https://lh4.googleusercontent.com/DAzXDtJZqVPJFKT4nFSijrcHpocQxMCkYGcnRlsEjcTX9kHouR7bXvAXukCNlAZ05BEz2fyPoOIcqX_8tkICuRjvgPgp3h3RAvETxE2TDKfCiiG-UxE9h0rPd2iiNWeGS0ZhVcb2JSGOW97RwRx4JYtbq3dw2srleOG9jY_RiBTsLi-Dj52YWwvK4hKz" width="545" height="278">
    <li>
        <p>Select an issue category from the given list. For example, if you wish to report a sync issue, select &ldquo;Bug&rdquo;. If you wish to make a suggestion in the existing feature, select &ldquo;Improvement&rdquo;. If you wish to suggest a new feature, select &ldquo;New feature&rdquo;
        </p>
            <img src="https://lh3.googleusercontent.com/20J1Itfqp7vvgIAcJIsY6Q2-sABX6hx4o8k3Hp4WLKX8DlJXMmqiFioJW_6nPKDiTQyYlaS_CSip3XzhKjoCCEZhUsdtAJXMgvOPQPcQn0nq4E0XExyQalGBvtIhpzCnj3lO9slm_K-_wy4MN65Oid7ssU1LG2KblX0YlpgfJ54NW3K6N5W3x97OpSNK" width="624" height="373">
    </li>
    <li>
        <p>&nbsp;Enter a suitable title or subject for your issue.</p>
    </li>
<p><br></p>
<p><br></p>
<p><img src="https://lh6.googleusercontent.com/J-pokLjHm54CZaBk7u_UTU9J1g1gC109EioP0nMpyP7fO3CJpI5xymqxW2kETm7n1GPPOqx2JHJa7F9wM3E5v5WFZe7D7OInre2sLl9QLtZeroh7vMpbbKVs2VyuFrVWuf8yB2iqj7z84WQlgDoOk9_w5ETqzvWvXGPylZvOf4g9-WrfYEDHRw0iT6Eb" width="624" height="133"></p>
    <li>
        <p>&nbsp;Attach supporting documents, images, related to issue</p>
    </li>
<p><br></p>
<p><img src="https://lh3.googleusercontent.com/j5-Ckh-AiLEBJRTnoW6eC8AuFqugXNYsc7PP_hClTrVR-yIvkFYGSf6HIPPC5wGIEGuia-NXBLKOjue4NxYYKSrq_B6-h_lMJh22o-OzYcOoun12hqRatgiPzYJgk2cNm7aoRs7VGqL3ejTvgIgLW5WNLgiOtfE5tyJauzv9UqdpnFtmzldk9-Uf9Ow4" width="624" height="123"></p>
    <li>
        <p>Submit your request, by clicking on the submit button. Once you submit your request, you will receive an acknowledgement email on your company mail ID.</p>
    </li>
</ol>
<p><br></p>
<ol start="4">
    <li style="font-weight: bold;">
        <p>What happens after you submit your request?</p>
    </li>
    <ol style="font-weight: initial;">
        <li>
            <p>Once we receive your request we sort them into categories as bugs, improvements and new feature requests. Sync issues and other glitches will be given the priority considering the urgency to streamline the operations.</p>
        </li>
        <li>
            <p>For the new feature requests, in the next step we present an initial solution with the requester and take feedback.</p>
        </li>
        <li>
            <p>Design a solution. Take feedback from you. Test it with other users and finally implement the feature.</p>
        </li>
    </ol>
    
</ol>
<ol start="5">
    <li style="font-weight: bold;">
        <p >Please have a look at the process flow given below.</p>
        <p><img src="https://lh4.googleusercontent.com/e1GUzLFFsJeV6HRNX8B-x3fEa8jkCpFp7864PuNlzfZGJ8RFC5JJYY9HE2oDZ6fS_y40qm0dL-RYZIYIe6I3fuP_TfmYN-YiHkg-I88HG4gfAdCW63OYqI-GeSsWr3KCz3ciBWl-fU6xLH1eiPeGsG1VdTpLyOL6tAo96HFlqaYEII3NefkSnJSV3E0j" width="624" height="233"></p>
    </li>
</ol>

<p><br></p>
<p><br></p>
<p style="font-weight: initial;">&ldquo;We all need people who can give us feedback, that&rsquo;s how we improve&rdquo; - Bill Gates</p>
<p><br></p>
<p>Help us to help you better!</p>
<p><br></p>