<p><strong>User Role - Inside Sales and Procurement Executive</strong></p>
<p><br></p>
<p>In the instances when you are required to cancel the purchase order from the system, please follow the following -&nbsp;</p>
<p><br></p>
<ol>
    <li>
        <p>Click on Menu &gt; Go to Logistics and then click on&nbsp;<a href="https://sprint.bulkmro.com/overseers/po_requests">Complete Purchase Order request&nbsp;</a></p>
    </li>
</ol>
<p><img src="https://lh4.googleusercontent.com/I-0eyjS51kt0jKpouVIBqSBT3Czg3-73m5tqhmkPxxp-WEpTG2_465fWqbjt5XCzAoHWMHP1bepmufeYxgwfyUULfXWGu2LhoQ3izy8zxkw1W4rwnWdkwRnXU78ZxN9i4T2ubiiYjarBcT261prXIrNSyezEw8g1Qpv4Ob52CsBQS4-sUZXRbxZC5Ia9" width="624" height="249"></p>
<p><br></p>
<ol start="2">
    <li>
        <p>Enter the desired inquiry number in the search bar</p>
    </li>
</ol>
<p><img src="https://lh6.googleusercontent.com/9bsUPCGoxoaOnA7ClERTtOL7OVaAL7swrhCadT8vxPABR8uOaQ4CuGKkDSuPnPPo2r1S4C_kHsTCOmq5OIwdO5VbkId9Zwv6sqCBZ-S-NoWnAE_-L24bHj16d52WKQNuxf8Vn8tdCjAf-Z4OnnCTGtqSF9fkQ8pa4VMCroBF2eSQmFWnO9OOQsvcmwH0" width="624" height="149"></p>
<p><br></p>
<ol start="3">
    <li>
        <p>On the quick actions toolbar, click on the &ldquo;Cancel by ISP&rdquo; icon</p>
    </li>
</ol>
<p><img src="https://lh5.googleusercontent.com/UoXh8myNYLJXuvioyq09-20fo6-afDZbulqriYVTf9-C7frpnKY9zSHZ7oygxJZDpNYjgBFMKjy8KF4C7CXypJ6YEXX3S-gai8HMuQdZlzCApgCwbcZMkeglL3P1G0xJGqU7w3Xz5arraaZrTH1ZzEqVhmj8WLKvrKlLp-xoewHparkniE9tWbDvlu7G" width="624" height="349.4767274153351"></p>
<p><br></p>
<ol start="4">
    <li>
        <p>Click on the OK button. A dialog will appear as given below</p>
    </li>
</ol>
<p><img src="https://lh3.googleusercontent.com/covUAM7yx2kqJmYBsYEV4xpsvhtAh0Bycwfc0w1AemomEmQMjVIR0I9R1Z7jx_3UhJ2srekCNttK4H8OEyliprrp2FW0vNtydS0cAOCNy0gE6o6e9J_r7DhZEhhxrYPwE29V7uFJKvOyqWwB1tvrSxmmpy_fmd3RlV9Z5JdyYhvMh_Gw1SwEACsTGFhR" width="624" height="517"></p>
<p><br></p>
<p>6. &nbsp;Select your reason for cancellation from the given list. Enter the additional remarks if any. Mention if you wish to notify a supplier or not. Attach the supporting documents like approval of KAM. The click on cancel PO request button.</p>
<p><br></p>
<p>This will notify your manager and they will cancel the PO after verification.&nbsp;</p>
<p><br></p>
<p><br></p>
<p><br></p>