<h3>Overview</h3>
<p>Inside sales executives and managers are required to cancel sales orders for various reasons. Now the users can send sales order cancellation requests from Sprint.</p>
<p><br></p>
<h3>Process</h3>
<ol>
    <li>
        <p>Open the inquiry and click on the sales order that you want to cancel. On the quick actions click on the &lsquo;Cancel by ISP&rsquo; button.</p>
    </li>
</ol>
<p><img src="https://lh5.googleusercontent.com/KFdGlhoc3M7mezni6W9ZqgkthLq-ryycwHf-QMYgJ26AzkRTbItX9R6-b_uX538r0md5rVY0S1tXFSSc0vE2hgGQclA6IlF1lCU3d8n04u70LBtNcYOsi1LQ3g4sGvwmeSD8JcSO0OYBxNR3CujHO0Vyj4zdDbFv5yxn3qPl4cjA6gPjoCOA6kb6BqfdfQ" width="624" height="285"></p>
<ol start="2">
    <li>
        <p>A dialog box will open as shown below.</p>
    </li>
</ol>
<p><img src="https://lh4.googleusercontent.com/mjsAXIVK-u1iXQh2wUkU3-voY8ZhOG3CdyUlKy42BSbxzhyfSfuxiJWrzonwsUENyuy4suJKfw_0FikEFJKCTYIZ40RGWcx9SJ1E4qVsXTdYnQmuMyYUTEm0ZGYhOjQBpbguOi0L8U9KiHIV62kk1L-MRyryO9W2H7UKCwS6PiGwYmfZqaTrYsBS3B4Mrw" width="424" height="344"></p>
<ol start="3">
    <li>
        <p>Select the cancellation reason from the given list. Enter the remark in the given text box. Attach the KAM&rsquo;s approval and click on the &lsquo;Cancel Sales Order&rsquo; button</p>
    </li>
    <li>
        <p>This will send an automatic email to the accounts team to process further your cancellation request. The email message will look as shown below.</p>
    </li>
</ol>
<p><img src="https://lh6.googleusercontent.com/vtl4d6AP7Ho5sOWhwWFKIJyfTK11I8JSnthtaPz44bWSP7QRoNNKQdrkqeqPoDZUR6FBvIkBvW6vi8BYy_wntt3HpVH14BlQ9D2FSrz3qVlr3kc-GfoCbLPIUzAB_cDjLKa8Ey3BZjrPWn4PCTCPSqG-Ac3O5b9fvU2qRiWtB15B3HP_mbh0T3TL70azNQ" width="624" height="168"></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>