<h2>Overview:</h2>
<p>The Company Creation Request feature enables users to create a new company in the system. Once a user creates a company by filling the request form, it goes for approval to the catalog team. The catalog team then verifies the details and approves/rejects the request on a case-by-case basis.</p>

<h2>Requirements:</h2>
<ol>
  <li>To create a company, users must have an account in the system and must be authorized to create a new company.</li>
  <li>The company account should exist in the system</li>
</ol>

<h2>Step-by-Step Instructions:</h2>
<ol>
  <li>Click on Menu and then Click on B. Partners. Navigate to the company page.</li>
  <li>Click on the “Create Company” button on the top right corner<br/>
  <%= image_tag "trainings/company_creation_1.png", class: "training_img" %>
  </li>
  <li>A new page will open as shown below.<br/>
  <%= image_tag "trainings/company_creation_2.png", class: "training_img" %></li>
  <li>Fill out the required information, including the company name, description, address, and other relevant details.</li>
  <li>Once you have completed the form, click on "Create Company Creation Request" to send the request to the catalog team for approval.</li>
  <li>The catalog team will review your request and either approve or reject it based on the information provided. </li>
  <li>Once your request is approved, you will receive a notification</li>
  <li>You can view the status of your request on the Company creation request page as shown below..<br/>
  <%= image_tag "trainings/company_creation_3.png", class: "training_img" %></li> </li>
  <li>You can also add comments and remarks on the existing request.</li>
</ol>

<h2>Tips and Best Practices:</h2>
<ol>
<li>Make sure to provide accurate and detailed information in the request form to avoid delays or rejections.</li>
<li>If you have any questions or concerns about the company creation process, contact the catalog team for assistance.</li>
<li>Make sure to use a proper format (Capitalization of first letter of the word for contacts and company name)</li>
</ol>

<h2>Feedback</h2>
<p>We value your feedback on this feature. If you have any suggestions or issues to report, please contact our support team by filling out the helpdesk for <a href="https://docs.google.com/forms/d/e/1FAIpQLSdkGNY457Jcm162E8nB-aCXpLfS44_qddqPuRb4HHBZW517dg/viewform">here</a></p>