<div class="col-md-5 my-5">
  <div class="text-center">
    <span class="display-3"><i class="fal fa-clipboard-check text-success"></i></span>
    <h1 class="mb-1 mt-2 text-success"><strong>Order Sent For Approval!</strong></h1>
    <p>You will be able to view your order once approved</p>
    <p>Our internal sales team will reach out to you with further details about your order once approved. In the mean time, feel free to ping us on <a href="+919898998989">(+91) 98989 98989</a> or mail us on <a href="mailto:sales@bulkmro.com">sales@bulkmro.com</a>.</p>
    <a class="btn btn-dark mt-2" href="<%= customer_root_path %>"><i class="fal fa-arrow-circle-left mr-1"></i> Back to Dashboard</a>
  </div>
</div>

