<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% content_for :page_title do %>
  Online Orders
<% end %>

<% content_for :heading do %>
  Online Orders
<% end %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort">Status</th>
  <th class="no-sort">Order #</th>
  <th class="no-sort">Purchase Order #</th>
  <th class="no-sort all">Line Items</th>
  <th class="no-sort">Placed On</th>
  <th class="no-sort">Ordered By</th>
  <th class="no-sort">Total (Excl. Tax)</th>
  <th class="no-sort">Total (Incl. Tax)</th>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>