<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Your order has been placed successfully.</strong></p>
  <hr>
  <p>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="<%= customer_root_path %>" role="button">Continue to Dashboard</a>
  </p>
</div>