<div class="navbar bg-white breadcrumb-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% breadcrumbs(request.path).each do |x| %>
          <li class="breadcrumb-item">
            <% if [request.path, '/'].join == x[:path] %>
              <%= x[:name] %>
            <% else %>
              <a href="<%= x[:path] %>"><%= x[:name] %></a>
            <% end %>
          </li>
      <% end %>
    </ol>
  </nav>
</div>