<meta charset="utf-8" />
<title>BulkMRO</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="BulkMRO" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="BulkMRO" />
<meta name="copyright" content="&copy; 2018 BulkMRO Private Limited" />

<meta itemprop="name" content="BulkMRO" />
<meta itemprop="description" content="" />
<meta itemprop="image" content="" />

<%= csrf_meta_tags %>
<%= csp_meta_tag %>