<% status_process = ['Enqueued','Processing'] %>
<% export_status =  Export.send(controller_path.split('/').last).not_filtered.last %>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item export-button" href="<%= status_process.include?(export_status.status) ? '' : export_for_logistics_overseers_sales_invoices_path(format: :csv)  %>">AR Invoice (Logistics)</a>
  <a class="dropdown-item export-button" href="<%= status_process.include?(export_status.status) ? '' : export_rows_overseers_sales_invoices_path(format: :csv) %>">AR Invoice
    Rows</a>
</div>
