<% provide :can_be_searched_or_created, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :container_fluid, true %>
<% provide :can_be_directly_exported_filtered_records, true %>
<% provide :can_be_directly_exported, true %>
<% provide :can_be_directly_exported_partial, true %>
<% provide :show_date_filter, true %>
<% content_for :page_title do %>
  AR Invoice
<% end %>

<div class="col-lg-12 bmro-table-layout">
  <% content_for :header_row do %>
    <th class="no-sort all" width="98px">Quick Actions</th>
    <th class="sort all text-right" width="55px" data-name="invoice_number">Invoice #</th>
    <th class="sort desktop text-right" width="45px" data-name="inquiry_number">Inquiry #</th>
    <th class="no-sort desktop text-right" width="55px" data-name="order_number">Order #</th>
    <th class="no-sort desktop text-right-wrap" width="152px" >Outward Dispatches</th>
    <th class="no-sort desktop text-left" width="70px" data-name="account_id">Account</th>
    <th class="no-sort desktop text-left" width="152px" data-name="company_id">Company</th>
    <th class="no-sort desktop text-left" width="152px" data-name="billing_contact">Billing Contact</th>
    <th class="no-sort desktop text-left" width="152px" data-name="billing_location">Billing Location</th>
    <th class="no-sort desktop text-left" width="152px" data-name="shipping_contact">Shipping Contact</th>
    <th class="no-sort desktop text-right" width="51px">Line Items</th>
    <th class="no-sort desktop text-left" width="75px" data-name="status_key">Status</th>
    <th class="no-sort desktop text-left" data-name="inside_sales_executive" data-toggle="tooltip" width="55px" title="Inside Sales & Procurement">IS&P</th>
    <th class="no-sort desktop text-left" data-name="outside_sales_executive" data-toggle="tooltip" width="60px" title="Outside Sales & Procurement">OS Owner</th>
    <th class="no-sort desktop text-right" width="81px">Proof of Delivery</th>
    <th class="no-sort desktop" width="25px" data-name="is_pod">POD</th>
    <th class="no-sort desktop text-left" width="65px" data-name="pod_type">POD Type</th>
    <th class="sort desktop text-right" width="61px" data-name="mis_date">Invoice Date</th>
    <th class="sort desktop text-right" width="52px" data-name="created_at">Created At</th>
  <% end %>
  <% content_for :filter_row do %>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="ajax"></td>
    <td data-filter="ajax"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="false"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="daterange"></td>
    <td data-filter="daterange"></td>
  <% end %>

  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>