<div class="tab-pane fade active show" id="rating" role="tabpanel">
  <% content_for :ajax_url, flush: true do %><%= overseers_company_company_reviews_path(company_id: company.id) %>
  <% end %>
  <% content_for :header_row, flush: true do %>
    <th class="no-sort all" width="98px">Quick Actions</th>
    <th class="no-sort all">Overseer Name</th>
    <th class="no-sort all" data-name="company_id">Company Name</th>
    <th class="no-sort all" data-name="survey_type_id">Review Type</th>
    <th class="no-sort all">Rating</th>
  <% end %>
  <% content_for :heading_buttons_internal_datatable, flush: true do %>
    <a href="#"></a>
  <% end %>
  <%= render 'shared/layouts/internal_datatable', entity: company, children: 'Ratings' %>
</div>
