<form id="training-form">
  <div class="form-group">
    <input type="text"class="form-control"placeholder="search" id="SearchInput" />
    <div class="card search-card d-none" id="search-results">
      <div class="card-body">
        <ul class="search-list" id="search-results">
        </ul>
      </div>
    </div>
  </div>
</form>