<div class="navbar breadcrumb-bar bmro-nav-main">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bmro-breadcrumb-item">
      <% if action_name.include?('rfq') %>
        <%= raw breadcrumbs(yield(:page_title), yield(:controller_is_aliased)) %>
      <% else %>
        <%= raw breadcrumbs(yield(:page_title), yield(:controller_is_aliased)) %>
      <% end %>
    </ol>
  </nav>
  <% if current_overseer.present? %>
      <%= render "shared/layouts/components/breadcrumbs_overseer" %>
  <%else %>
      <%= render "shared/layouts/components/breadcrumbs_customer" %>
  <%end %>
</div>
