<div class="navbar bg-white breadcrumb-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <%= raw breadcrumbs(yield(:page_title), yield(:controller_is_aliased)) %>
    </ol>
  </nav>
  <% if current_overseer.present? %>
    <div class="col-lg-12">
      <%= render "shared/layouts/components/breadcrumbs_overseer" %>
    </div>
  <%else %>
    <div class="col-lg-12">
      <%= render "shared/layouts/components/breadcrumbs_customer" %>
    </div>
  <%end %>
</div>
