<div class="navbar bg-white breadcrumb-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <%= raw breadcrumbs(yield(:page_title), yield(:controller_is_aliased)) %>
    </ol>
  </nav>
</div>