<meta charset="utf-8"/>
<title><%=
  if content_for(:page_title)
    yield :page_title
  elsif content_for?(:use_url_as_page_title)
    request.path.split('/').last.titleize
  else
    [controller_name.titleize, action_name.humanize.titleize].join(' ')
  end
%> | Bulk MRO</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="title" content="Bulk MRO"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="author" content="Ashwin Goyal"/>
<meta name="copyright" content="&copy; 2018 Bulk MRO"/>

<meta itemprop="name" content="Bulk MRO"/>
<meta itemprop="description" content=""/>
<meta itemprop="image" content=""/>

<%= favicon_link_tag 'favicon.ico' %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>