<p>Dear <%= @contact.name %></p>

<p>Thank you for your inquiry.</p>

<p>Your inquiry reference number is #<%= @inquiry.inquiry_number %> for your consideration.</p>

<p>We will revert to you shortly with a formal quotation.</p>

<p>Please mention this reference number for all your correspondence related to this inquiry.</p>

<p>We look forward to your feedback and valuable purchase order.</p>

<p>Have a nice day!</p>

<p>Thank You</p>