<%= provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :show_date_filter, true %>

<% content_for :header_row do %>
  <th class="no-sort" width="98px">Quick Actions</th>
  <th class="no-sort text-left" data-name="company_id">Company</th>
  <th class="no-sort text-left" data-name="name">Address</th>
  <th class="no-sort text-left" data-name="state_id">State</th>
  <th class="no-sort text-left" data-name="city_name">City</th>
  <th class="no-sort text-left" data-name="is_gst_valid">Valid GST</th>
  <th class="no-sort text-left" data-name="gst">GST</th>
  <th class="no-sort text-right" data-name="pincode">Pincode</th>
  <th class="no-sort text-left">SAP status</th>
  <th class="desktop text-left" data-name="created_at">Created</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="ajax"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="dropdown" class="text-right"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="daterange"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>