<div>
  <table id="my-team-sales-table" class="my-team-table" data-sort="false" data-fixed-header="false">
    <thead>
    <tr>
      <td>Score</td>
      <td>Name</td>
      <td>Acknowledgement Pending</td>
      <td>Quotations Not Sent</td>
      <td>Follow Ups</td>
      <td>Awaited Customer P.O</td>
      <td>Sales Order Approval Pending</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div  class="bmro-drop-icon-head bmro-drop-icon-head-fl " aria-haspopup="true" aria-expanded="false" role="button"></div>
        <div class="my-team-oval-rate">
          <div class="bmro-sales-progress mx-auto" data-value='3.5'>
            <span class="bmro-sales-progress-left">
                          <span class="bmro-sales-progress-bar border-primary"></span>
            </span>
            <span class="bmro-sales-progress-right">
                          <span class="bmro-sales-progress-bar border-primary"></span>
            </span>
            <span class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div>3.5</div>
            </span>
          </div>
        </div>
      </td>
      <td>Krishna Murthy</td>
      <td>02</td>
      <td>01</td>
      <td>12</td>
      <td>04</td>
      <td>02</td>
    </tr>
    <tr>
      <td>
        <div  class="bmro-drop-icon-head bmro-drop-icon-head-fl " aria-haspopup="true" aria-expanded="false" role="button"></div>
        <div class="my-team-oval-rate">
          <div class="bmro-sales-progress mx-auto" data-value='6.5'>
            <span class="bmro-sales-progress-left">
                          <span class="bmro-sales-progress-bar border-primary"></span>
            </span>
            <span class="bmro-sales-progress-right">
                          <span class="bmro-sales-progress-bar border-primary"></span>
            </span>
            <span class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div>6.5</div>
            </span>
          </div>
        </div>
      </td>
      <td>Krishna Murthy</td>
      <td>02</td>
      <td>01</td>
      <td>12</td>
      <td>04</td>
      <td>02</td>
    </tr>
    <tr>
      <td>
        <div  class="bmro-drop-icon-head bmro-drop-icon-head-fl " aria-haspopup="true" aria-expanded="false" role="button"></div>
        <div class="my-team-oval-rate">
          <div class="bmro-sales-progress mx-auto" data-value='8.5'>
            <span class="bmro-sales-progress-left">
                          <span class="bmro-sales-progress-bar border-primary"></span>
            </span>
            <span class="bmro-sales-progress-right">
                          <span class="bmro-sales-progress-bar border-primary"></span>
            </span>
            <span class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div>8.5</div>
            </span>
          </div>
        </div>
      </td>
      <td>Krishna Murthy</td>
      <td>02</td>
      <td>01</td>
      <td>12</td>
      <td>04</td>
      <td>02</td>
    </tr>
    <tr>
      <td>
        <div  class="bmro-drop-icon-head bmro-drop-icon-head-fl " aria-haspopup="true" aria-expanded="false" role="button"></div>
        <div class="my-team-oval-rate">
          <div class="bmro-sales-progress mx-auto" data-value='1.5'>
            <span class="bmro-sales-progress-left">
                          <span class="bmro-sales-progress-bar border-primary"></span>
            </span>
            <span class="bmro-sales-progress-right">
                          <span class="bmro-sales-progress-bar border-primary"></span>
            </span>
            <span class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div>1.5</div>
            </span>
          </div>
        </div>
      </td>
      <td>Krishna Murthy</td>
      <td>02</td>
      <td>01</td>
      <td>12</td>
      <td>04</td>
      <td>02</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- <script>

    $('.bmro-drop-icon-head-fl').click((e)=>{
        let current =e.currentTarget.parentElement.parentElement;
        console.log(current)
        if(e.currentTarget.classList.contains('bmro-drop-icon-head-rotated-up'))
        {
            e.currentTarget.classList.remove('bmro-drop-icon-head-rotated-up');
            e.currentTarget.classList.add('bmro-drop-icon-head');
            current.nextElementSibling.remove()
        }
        else {
            e.currentTarget.classList.add('bmro-drop-icon-head-rotated-up');
            e.currentTarget.classList.remove('bmro-drop-icon-head');
            let addElement= $(`<tr class="bmro-back-color-ackwo"><td colspan="7"><div class="dropdown-div-row-wrapper"><div>` +
                `<div class="my-team-user">Krishna Murthy</div>` +
                `</div><div class='my-team-inquiry-box-wrapper my-team-user'><div class='my-team-inquiry-box'>54312</div>
<div class='my-team-inquiry-box'>34214</div>
<div class='my-team-inquiry-box'>12236</div>
<div class='my-team-inquiry-box'>54212</div></div></div></td></tr>`);
            addElement.insertAfter(current);
        }
    })
</script>
 -->