<div id="salesPerformanceTables">
  <div class="bmro-sales-table-outer-box">
    <div>
      <div class="sales-performance-headers">
        <div class="sales-performance-title"  >
          Inquiries Overview
        </div>
        <div class="sales-view-report"><u>View Report</u></div>
        <div >
          <select class="bmro-report-filter">Filter
            <option value="Pan India">Pan India</option>
          </select>
        </div>
      </div>
      <div>
        <table id="inquiries-overview" class="sales-performance-table w-100" data-sort="false" data-fixed-header="false">
          <thead>
          <tr>
            <td >Month</td>
            <td>Feb,19</td>
            <td>Mar,19</td>
            <td>Apr,19</td>
            <td>May,19</td>
            <td>Jun,19</td>
            <td>Jul,19</td>
            <td>Aug,19</td>
            <td>Sep,19</td>
            <td>Grand Total</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Invoice Created</td>
            <td>982</td>
            <td>234</td>
            <td>234</td>
            <td>123</td>
            <td>234</td>
            <td>234</td>
            <td>234</td>
            <td>234</td>
            <td>234</td>
          </tr>
          <tr>
            <td>Active Client</td>
            <td>99</td>
            <td>45</td>
            <td>234</td>
            <td>123</td>
            <td>234</td>
            <td>568</td>
            <td>234</td>
            <td>234</td>
            <td>289</td>
          </tr>
          <tr>
            <td>Average Quote TAT (Days)</td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
          </tr>
          <tr>
            <td>Quoted Inquiries</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
          </tr>
          <tr>
            <td>Converstion%</td>
            <td>39%</td>
            <td>32%</td>
            <td>29%</td>
            <td>30%</td>
            <td>29%</td>
            <td>30%</td>
            <td>39%</td>
            <td>32%</td>
            <td>30%</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="bmro-sales-table-outer-box">
    <div>
      <div class="sales-performance-headers">
        <div class="sales-performance-title"  >
          SO Overview
        </div>
        <div class="sales-view-report"><u>View Report</u></div>
        <div >
          <select class="bmro-report-filter">Filter
            <option value="Pan India">Pan India</option>
          </select>
        </div>
      </div>
      <div>
        <table id="inquiries-overview" class="sales-performance-table w-100" data-sort="false" data-fixed-header="false">
          <thead>
          <tr>
            <td >Values</td>
            <td>Feb,19</td>
            <td>Mar,19</td>
            <td>Apr,19</td>
            <td>May,19</td>
            <td>Jun,19</td>
            <td>Jul,19</td>
            <td>Aug,19</td>
            <td>Sep,19</td>
            <td>Grand Total</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>SO Created</td>
            <td>982</td>
            <td>234</td>
            <td>234</td>
            <td>123</td>
            <td>234</td>
            <td>234</td>
            <td>234</td>
            <td>234</td>
            <td>234</td>
          </tr>
          <tr>
            <td>SO Value Created (INR Cr.)</td>
            <td>99</td>
            <td>45</td>
            <td>234</td>
            <td>123</td>
            <td>234</td>
            <td>568</td>
            <td>234</td>
            <td>234</td>
            <td>289</td>
          </tr>
          <tr>
            <td>Average SO Request ( INR Lac) </td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="bmro-sales-table-outer-box">
    <div>
      <div class="sales-performance-headers">
        <div class="sales-performance-title"  >
          SI Overview
        </div>
        <div class="sales-view-report"><u>View Report</u></div>
        <div >
          <select class="bmro-report-filter">Filter
            <option value="Pan India">Pan India</option>
          </select>
        </div>
      </div>
      <div>
        <table id="inquiries-overview" class="sales-performance-table w-100" data-sort="false" data-fixed-header="false">
          <thead>
          <tr>
            <td >Values</td>
            <td>Feb,19</td>
            <td>Mar,19</td>
            <td>Apr,19</td>
            <td>May,19</td>
            <td>Jun,19</td>
            <td>Jul,19</td>
            <td>Aug,19</td>
            <td>Sep,19</td>
            <td>Grand Total</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>SI Created</td>
            <td>982</td>
            <td>234</td>
            <td>234</td>
            <td>123</td>
            <td>234</td>
            <td>234</td>
            <td>234</td>
            <td>234</td>
            <td>234</td>
          </tr>
          <tr>
            <td>SI Value ( INR Cr. )</td>
            <td>99</td>
            <td>45</td>
            <td>234</td>
            <td>123</td>
            <td>234</td>
            <td>568</td>
            <td>234</td>
            <td>234</td>
            <td>289</td>
          </tr>
          <tr>
            <td>SI Margin ( INR Cr. )</td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
            <td>3.4</td>
            <td>5.6</td>
          </tr>
          <tr>
            <td>SI Margin %</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
          </tr>
          <tr>
            <td>SI Margin %</td>
            <td>39%</td>
            <td>32%</td>
            <td>29%</td>
            <td>30%</td>
            <td>29%</td>
            <td>30%</td>
            <td>39%</td>
            <td>32%</td>
            <td>30%</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Overview table -->
<div id="performanceOverviewTable">
  <div class="d-flex overview-table-header">
    <div class="bmro-arrow-wrapper-oval">
      <div class="bmro-back-arrow"></div>
    </div>
    <div>
      <h2>Overview</h2>
    </div>
  </div>
  <div class="overview-sales-table-wrapper">
    <div class="d-flex ">
      <div class="bmro-overview-search-head">
        <div class="easy-autocomplete eac-solid">
          <input type="text" name="search" class="bmro-head-search-width bmro-head-form-input global-search"  placeholder="Search Inquiry, Account, Company, Product" data-toggle="tooltip" title="" autocomplete="off" data-original-title="Use this for searching">
          <div class="easy-autocomplete-container" id="eac-container-global-search"><ul></ul>
          </div>
        </div>
      </div>
      <div class="bmro-filter-wrapper">
        <select class="bmro-report-filter" value="Filter 1">Filter 1
          <option value="Pan India">Pan India</option>
        </select>
      </div>
      <div class="bmro-filter-wrapper">
        <select class="bmro-report-filter">Filter 2
          <option value="Pan India">Pan India</option>
        </select>
      </div>
    </div>
    <div >
      <table id="overview-sales-table" class="sales-overview-table w-100" data-sort="false" data-fixed-header="false">
        <thead>
        <tr>
          <td >Quick Action</td>
          <td>Feb,19</td>
          <td>Mar,19</td>
          <td>Apr,19</td>
          <td>May,19</td>
          <td>Jun,19</td>
          <td>Jul,19</td>
          <td>Aug,19</td>
          <td>Sep,19</td>
          <td>Grand Total</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Cummins</td>
          <td>982</td>
          <td>234</td>
          <td>234</td>
          <td>123</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
        </tr>
        <tr>
          <td>Henkel</td>
          <td>99</td>
          <td>45</td>
          <td>234</td>
          <td>123</td>
          <td>234</td>
          <td>568</td>
          <td>234</td>
          <td>234</td>
          <td>289</td>
        </tr>
        <tr>
          <td>GE</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
        </tr>
        <tr>
          <td>P & G</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Piramal</td>
          <td>39%</td>
          <td>32%</td>
          <td>29%</td>
          <td>30%</td>
          <td>29%</td>
          <td>30%</td>
          <td>39%</td>
          <td>32%</td>
          <td>30%</td>
        </tr>
        <tr>
          <td>Cummins</td>
          <td>982</td>
          <td>234</td>
          <td>234</td>
          <td>123</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
        </tr>
        <tr>
          <td>Henkel</td>
          <td>99</td>
          <td>45</td>
          <td>234</td>
          <td>123</td>
          <td>234</td>
          <td>568</td>
          <td>234</td>
          <td>234</td>
          <td>289</td>
        </tr>
        <tr>
          <td>GE</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
        </tr>
        <tr>
          <td>P & G</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Piramal</td>
          <td>39%</td>
          <td>32%</td>
          <td>29%</td>
          <td>30%</td>
          <td>29%</td>
          <td>30%</td>
          <td>39%</td>
          <td>32%</td>
          <td>30%</td>
        </tr>
        <tr>
          <td>Cummins</td>
          <td>982</td>
          <td>234</td>
          <td>234</td>
          <td>123</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
        </tr>
        <tr>
          <td>Henkel</td>
          <td>99</td>
          <td>45</td>
          <td>234</td>
          <td>123</td>
          <td>234</td>
          <td>568</td>
          <td>234</td>
          <td>234</td>
          <td>289</td>
        </tr>
        <tr>
          <td>GE</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
        </tr>
        <tr>
          <td>P & G</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Piramal</td>
          <td>39%</td>
          <td>32%</td>
          <td>29%</td>
          <td>30%</td>
          <td>29%</td>
          <td>30%</td>
          <td>39%</td>
          <td>32%</td>
          <td>30%</td>
        </tr><tr>
          <td>Cummins</td>
          <td>982</td>
          <td>234</td>
          <td>234</td>
          <td>123</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
        </tr>
        <tr>
          <td>Henkel</td>
          <td>99</td>
          <td>45</td>
          <td>234</td>
          <td>123</td>
          <td>234</td>
          <td>568</td>
          <td>234</td>
          <td>234</td>
          <td>289</td>
        </tr>
        <tr>
          <td>GE</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
        </tr>
        <tr>
          <td>P & G</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Piramal</td>
          <td>39%</td>
          <td>32%</td>
          <td>29%</td>
          <td>30%</td>
          <td>29%</td>
          <td>30%</td>
          <td>39%</td>
          <td>32%</td>
          <td>30%</td>
        </tr>
        <tr>
          <td>Cummins</td>
          <td>982</td>
          <td>234</td>
          <td>234</td>
          <td>123</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
          <td>234</td>
        </tr>
        <tr>
          <td>Henkel</td>
          <td>99</td>
          <td>45</td>
          <td>234</td>
          <td>123</td>
          <td>234</td>
          <td>568</td>
          <td>234</td>
          <td>234</td>
          <td>289</td>
        </tr>
        <tr>
          <td>GE</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
          <td>3.4</td>
          <td>5.6</td>
        </tr>
        <tr>
          <td>P & G</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>Piramal</td>
          <td>39%</td>
          <td>32%</td>
          <td>29%</td>
          <td>30%</td>
          <td>29%</td>
          <td>30%</td>
          <td>39%</td>
          <td>32%</td>
          <td>30%</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>