<div class=" bmro-dashboard-selector-panel">
  <div class="bmro-dashboard-switcher-wrapper">
    <div class="bmro-dashboard-switcher">
    <div id='actionDashboard' class="bmro-right-mar2 bmro-sales-actions">
      Action Dashboard
    </div>
    <div id='performanceDashboard' class="bmro-right-mar2 bmro-sales-actions" >
      Performance Dashboard
    </div>
    <div id='myTeam' class="bmro-right-mar2 bmro-sales-actions">
      My Team
    </div>
    </div>
  </div>
  <div class="bmro-radio-switcher-wrapper">
    <div class="bmro-radio-switcher">
    <div class="bmro-radio-buttons">
      <span><input type="radio" class="sales-dashboard-filters"></span>
      <label class="bmro-radio-button-labels"> Priority Quote</label>
    </div>
    <div  class="bmro-radio-buttons">
      <span><input type="radio" class="sales-dashboard-filters"></span>
      <label class="bmro-radio-button-labels"> Strategic Clients</label>
    </div>
    <div  class="bmro-radio-buttons">
      <span><input type="radio" class="sales-dashboard-filters"></span>
      <label class="bmro-radio-button-labels">Repeat Orders</label>
    </div>
  </div>
  </div>
</div>