<% provide :container_fluid, true %>

<div class="bmro-width100">
  <%= render partial: "overseers/dashboard/common/left_panel_dashboard" %>
  <%#= render partial: "overseers/dashboard/common/side_notification_panel" %>
</div>
