<% provide :container_fluid, true %>
<div id="actionDashboardViewer" class="bmro-width100">
  <%= render partial: "overseers/dashboard/common/left_panel_dashboard", locals: { executivelink: false } %>
</div>

<div id="performanceDashboardViewer" class="bmro-width100">
  <%= render partial: "overseers/dashboard/sales_manager/performance_table"%>
</div>

<div id="myTeamViewer" class="bmro-width100">
  <%= render partial: "overseers/dashboard/sales_manager/my_team_sales_manager_dashboard"%>
</div>

<div class="row">
  <%= link_to('Your Sales Executive Dashboard >>', sales_executive_dashboard_overseers_dashboard_path, target: '_blank', class: 'bmro-button mt-2') %>
</div>




<!--<div class="bmro-width100">-->
<%#= render partial: "overseers/dashboard/common/left_panel_dashboard" %>
<%#= render partial: "overseers/dashboard/common/side_notification_panel" %>
<!--</div>-->
