<% provide :container_fluid, true %>
<div id="actionDashboardViewer" class="bmro-width100">
  <%= render partial: "overseers/dashboard/common/left_panel_dashboard" %>
</div>

<div id="performanceDashboardViewer" class="bmro-width100">
  <%= render partial: "performance_table"%>
</div>

<div id="myTeamViewer" class="bmro-width100">
  <%= render partial: "my_team_sales_manager_dashboard"%>
</div>




<!--<div class="bmro-width100">-->
<%#= render partial: "overseers/dashboard/common/left_panel_dashboard" %>
<%#= render partial: "overseers/dashboard/common/side_notification_panel" %>
<!--</div>-->
