<%#js file----->   getStatusRecords.js %>
<div class="bmro-slide-on-inquries">
  <div class="bmro-width100 bmro-close-right-slide-fix">

    <span class="bmro-close-order-slide bmro-close-icon"></span>
  </div>

  <div id="status-record-div"></div>
</div>
