<div class="tab-pane fade active show" id="online-orders" role="tabpanel">
  <div class="table-responsive">
    <% content_for :ajax_url, flush: true do %><%= overseers_company_customer_orders_path(company) %>
    <% end %>
    <% content_for :header_row, flush: true do %>
      <tr>
        <th class="no-sort all" data-width="98px">Quick Actions</th>
        <th class="no-sort desktop text-right">Online Order #</th>
        <th class="no-sort desktop">Status</th>
        <th class="no-sort desktop">Payment Method</th>
        <th class="no-sort desktop">Account</th>
        <th class="no-sort all">Company</th>
        <th class="no-sort all">Customer Name</th>
        <th class="no-sort all">Line Items</th>
        <th class="sort all">Total (Excl. Tax)</th>
        <th class="sort all" data-name="grand_total">Total (Incl. Tax)</th>
        <th class="no-sort all">Inside Sales</th>
        <th class="no-sort all">Outside Sales</th>
        <th class="no-sort all">Manager</th>
        <th class="sort desktop" data-name="created_at">Created</th>
      </tr>
    <% end %>
    <% content_for :heading_buttons_internal_datatable, flush: true do %>
      <a href="#"></a>
    <% end %>
    <%= render 'shared/layouts/internal_datatable', entity: company, children: 'supplied products' %>
  </div>
</div>
