<%= provide :container_fluid, true %>
<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div>
        <iframe width="1200" height="1000" src="https://app.powerbi.com/view?r=eyJrIjoiNzZlZjlmYzgtZjRlYy00MTFlLWIyNGEtMWEzZDU4ZDI4OGI1IiwidCI6IjU1MWQ2MjZmLWRmN2YtNDg4ZS1iMTA4LWExZDZkN2I4YWI4ZSJ9" frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
</div>