<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<% content_for :header_row do %>
  <th class="no-sort"></th>
  <th data-name="name">Name</th>
  <th data-name="uid">Uid</th>
  <th class="desktop text-right" data-name="updated_at">Updated</th>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>