<% provide :container_fluid, true %>

<div class="col-lg-12 mb-0">
  <div class="page-header mb-0">
    <h2>Inward Logistics Queue Report</h2>
    <p>Inward Logistics Queue Report from <strong><%= format_date_without_time(Date.new(2018, 04, 01)) %></strong> to
      <strong><%= format_date_without_time(Date.today.end_of_day) %></strong>.</p>
  </div>
</div>

<table class="table text-center mt-3">
  <thead data-toggle="sticky">
  <tr>
    <th>Logistics Owner</th>
    <th class="text-uppercase text-black-50">PO with Material Not Ready</th>
    <th class="text-uppercase text-black-50">PO with Material Pickups Pending</th>
    <th class="text-uppercase text-black-50">PO with Inwards Pending</th>
    <th class="text-uppercase text-black-50">PO with Status Partial GRPO Done</th>
  </tr>
  </thead>
  <tbody>
  <% @data.entries.each do |overseer, values| %>
    <tr>
      <th><%= @data.entries[overseer][:name] %></th>
      <% values.each do |key, value| %>
        <% if key != :name %>
          <td class="text-uppercase text-black-50"><%= value %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>